/*==============================================
=               Aspectos Generales             =
===============================================*/

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

html {
    height: 100%;
    font-size: 62.5%;

    body {
        height: 100%;
        font: 10px $font-rg;

        p, a, li {
            font-size: 1.9rem;
        }

        p:not(:last-child) {
            margin-bottom: 2rem;
        }

        .titulo {
            font: 4rem $font-bd;
            color: $azul-fondo;
            margin-top: 0;
            margin-bottom: 1rem;
        }

        .subtitulo {
            font: 2.8rem $font-bd;
            color: $azul-fondo;
            margin-bottom: 1rem;
        }

        .bold {
            font-family: $font-bd;
        }

        .wrapper {
            width: 90%;
            margin: 0 auto;

            @include dt {
                width: 83.3333333%;
                max-width: 1200px;
            }
        }

        .fondo-celeste {
            background-color: $fondo-body;
        }

        .centrado {
            text-align: center;
        }

        figure, div {
            margin: 0;

            img {
                width: 100%;
                display: block;
            }
        }

        input[type=submit] {
            cursor: pointer;
        }

        @keyframes heartbeat {
            0% {transform: scale(1.05);}
            25% {transform: scale(1);}
            75% {transform: scale(1.05);}
            100% {transform: scale(1);}
        }

        .bigger {
            animation: heartbeat 0.5s infinite;
        }
    }
}

/*=======  Fin de Aspectos Generales  ========*/