// Colores
$gris-letras: #666666;
$celeste-fondo: #40d1fa;
$azul-fondo: #005b81;
$fondo-body: #b7daed;

// Fuentes
$font-rg: 'quattrocento-rg';
$font-rg-it: 'quattrocento-rg-it';
$font-bd: 'quattrocento-bd';
$font-bd-it: 'quattrocento-bd-it';

// Medidas
$margen: 2rem;

// Viewports
$tb: 481px;
$dt: 769px;
$hd: 1281px;