@import url('https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Quattrocento Sans', sans-serif;
}

.wrapper {
	max-width: 680px;
	margin: 0 auto;
}

.cabecera, .pie {
	background-color: #005b81;
}

.cabecera td,
.pie td {
	padding: 1.5rem 0.5rem;
}

.pie, .titulo, .pie a {
	text-align: center;
	color: #d8e8ef;
}

td {
	width: 100%;
}

video, img {
	width: 100%;
	display: block;
}

.no-padding {
	padding: 0!important;
}

.rrss-icon {
	width: 2.6rem;
	height: 2.6rem;
	text-align: center;
	background-color: #d8e8ef;
	display: inline-block;
	margin: 0 0.25rem;
	border-radius: 50%;
}

.rrss-icon a {
	color: #005b81;
	font-size: 1.8rem;
	width: 100%;
	height: 100%;
	display: block;
	line-height: 2.6rem;
}

.rrss-icon a .fab {
	position: relative;
	top: 2px;
}

.firma {
	border-top: 1px solid rgba(216, 232, 239, 0.2);
	padding-top: 1.5rem;
}