/*==============================================
=               Aspectos Generales             =
===============================================*/
/* line 5, SCSS/_globales.scss */
*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* line 11, SCSS/_globales.scss */
ul li {
  list-style: none;
}

/* line 15, SCSS/_globales.scss */
a {
  text-decoration: none;
}

/* line 19, SCSS/_globales.scss */
html {
  height: 100%;
  font-size: 62.5%;
}

/* line 23, SCSS/_globales.scss */
html body {
  height: 100%;
  font: 10px "quattrocento-rg";
}

/* line 27, SCSS/_globales.scss */
html body p, html body a, html body li {
  font-size: 1.9rem;
}

/* line 31, SCSS/_globales.scss */
html body p:not(:last-child) {
  margin-bottom: 2rem;
}

/* line 35, SCSS/_globales.scss */
html body .titulo {
  font: 4rem "quattrocento-bd";
  color: #005b81;
  margin-top: 0;
  margin-bottom: 1rem;
}

/* line 42, SCSS/_globales.scss */
html body .subtitulo {
  font: 2.8rem "quattrocento-bd";
  color: #005b81;
  margin-bottom: 1rem;
}

/* line 48, SCSS/_globales.scss */
html body strong {
  font-weight: inherit;
}

/* line 52, SCSS/_globales.scss */
html body .bold {
  font-family: "quattrocento-bd";
}

/* line 56, SCSS/_globales.scss */
html body .wrapper {
  width: 90%;
  margin: 0 auto;
}

@media only screen and (min-width: 769px) {
  /* line 56, SCSS/_globales.scss */
  html body .wrapper {
    width: 83.3333333%;
    max-width: 1200px;
  }
}

/* line 66, SCSS/_globales.scss */
html body .fondo-celeste {
  background-color: #b7daed;
}

/* line 70, SCSS/_globales.scss */
html body .centrado {
  text-align: center;
}

/* line 74, SCSS/_globales.scss */
html body figure, html body div {
  margin: 0;
}

/* line 77, SCSS/_globales.scss */
html body figure img, html body div img {
  width: 100%;
  display: block;
}

/* line 83, SCSS/_globales.scss */
html body input[type=submit] {
  cursor: pointer;
}

@keyframes heartbeat {
  0% {
    transform: scale(1.05);
  }
  25% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

/* line 94, SCSS/_globales.scss */
html body .bigger {
  animation: heartbeat 0.5s infinite;
}

/* line 98, SCSS/_globales.scss */
html body .alert {
  width: 100%;
  padding: 2rem;
  border-right: 2px;
  margin-top: 1rem;
  font-style: italic;
}

/* line 105, SCSS/_globales.scss */
html body .alert p, html body .alert li {
  color: #fff;
  font-size: 1.3em;
}

/* line 110, SCSS/_globales.scss */
html body .alert li {
  list-style: square;
  margin-left: 1.2em;
}

/* line 114, SCSS/_globales.scss */
html body .alert li:not(:last-child) {
  margin-bottom: 1.2rem;
}

/* line 120, SCSS/_globales.scss */
html body .error {
  background: #a94242;
  border: 1px solid #a94242;
}

/* line 125, SCSS/_globales.scss */
html body .success {
  background: #4caf50;
  border: 1px solid #4caf50;
}

/* line 129, SCSS/_globales.scss */
html body .success p {
  text-align: center;
}

/*=======  Fin de Aspectos Generales  ========*/
/*==============================================
=                     Header                   =
===============================================*/
/* line 5, SCSS/_header.scss */
.menu-bar {
  width: 100%;
  height: 39px;
  background-color: #005b81;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 300;
}

@media only screen and (min-width: 769px) {
  /* line 5, SCSS/_header.scss */
  .menu-bar {
    display: none;
  }
}

/* line 21, SCSS/_header.scss */
.menu-bar .bt-menu {
  width: 30px;
  margin-right: 15px;
  cursor: pointer;
}

/* line 26, SCSS/_header.scss */
.menu-bar .bt-menu .uno, .menu-bar .bt-menu .dos, .menu-bar .bt-menu .tres {
  width: 100%;
  height: 2px;
  background-color: #40d1fa;
  transition: all 1s ease;
}

/* line 33, SCSS/_header.scss */
.menu-bar .bt-menu .dos {
  margin: 6px 0;
}

/* line 39, SCSS/_header.scss */
.menu-bar .bt-menu2 .dos {
  opacity: 0;
}

/* line 43, SCSS/_header.scss */
.menu-bar .bt-menu2 .uno {
  transform: rotate(45deg) translate(5px, 5px);
}

/* line 47, SCSS/_header.scss */
.menu-bar .bt-menu2 .tres {
  transform: rotate(-45deg) translate(6px, -7px);
}

@media only screen and (min-width: 769px) {
  /* line 53, SCSS/_header.scss */
  .fecha-menu {
    width: 100%;
    background-color: #005b81;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;
  }
}

@media only screen and (min-width: 769px) {
  /* line 63, SCSS/_header.scss */
  .fecha-menu .wrapper {
    display: flex;
    justify-content: space-between;
  }
}

/* line 70, SCSS/_header.scss */
.fecha-menu #fecha {
  display: none;
}

@media only screen and (min-width: 769px) {
  /* line 70, SCSS/_header.scss */
  .fecha-menu #fecha {
    display: block;
    color: #b7daed;
    font-size: 1.6rem;
    margin-bottom: 0;
    line-height: 47px;
  }
}

/* line 82, SCSS/_header.scss */
.fecha-menu .main-menu {
  position: fixed;
  width: 100%;
  top: -280px;
  left: 0;
  background-color: rgba(0, 91, 129, 0.95);
  z-index: 500;
}

/* line 91, SCSS/_header.scss */
.fecha-menu .main-menu .menu li {
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, 0.25);
}

@media only screen and (min-width: 769px) {
  /* line 91, SCSS/_header.scss */
  .fecha-menu .main-menu .menu li {
    border-top: none;
    position: relative;
  }
}

/* line 100, SCSS/_header.scss */
.fecha-menu .main-menu .menu li a {
  font-size: 1.6rem;
  color: #b7daed;
  text-transform: capitalize;
  padding: 1rem 0;
  display: block;
  transition: all 0.3s ease;
}

/* line 108, SCSS/_header.scss */
.fecha-menu .main-menu .menu li a:hover {
  background-color: #00425d;
}

@media only screen and (min-width: 769px) {
  /* line 100, SCSS/_header.scss */
  .fecha-menu .main-menu .menu li a {
    padding: 14px;
  }
}

@media only screen and (min-width: 769px) {
  /* line 117, SCSS/_header.scss */
  .fecha-menu .main-menu .menu li .selected:after {
    content: '';
    width: 16px;
    height: 8px;
    background-image: url(../img/selected.png);
    position: absolute;
    top: 100%;
    right: calc(50% - 8px);
  }
}

@media only screen and (min-width: 769px) {
  /* line 90, SCSS/_header.scss */
  .fecha-menu .main-menu .menu {
    display: flex;
  }
}

@media only screen and (min-width: 769px) {
  /* line 82, SCSS/_header.scss */
  .fecha-menu .main-menu {
    position: relative;
    width: auto;
    top: 0;
    left: 0;
    background-color: transparent;
    display: flex;
  }
}

/*=============  Fin de Header  ==============*/
/*==============================================
=                      Main                    =
===============================================*/
/* line 6, SCSS/_main.scss */
.bg-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 600;
  background-color: rgba(0, 0, 0, 0.7);
  transition: all 0.3s ease;
  display: none;
  overflow: scroll;
}

/* line 18, SCSS/_main.scss */
.bg-modal .modal {
  width: 85%;
  position: relative;
  margin: 0 auto;
  background-color: #fff;
  top: 65px;
  box-shadow: 0 0 10px -2px #000;
  display: none;
}

/* line 28, SCSS/_main.scss */
.bg-modal .modal .tabla {
  width: 70%;
}

@media only screen and (min-width: 769px) {
  /* line 28, SCSS/_main.scss */
  .bg-modal .modal .tabla {
    width: 100%;
    max-width: 600px;
  }
}

/* line 37, SCSS/_main.scss */
.bg-modal .modal .bloque {
  height: 2rem;
}

/* line 45, SCSS/_main.scss */
.bg-modal .modal .cerrar {
  position: absolute;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: #00374e;
  top: -1rem;
  right: -1rem;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 0 10px -2px #000;
  z-index: 601;
}

/* line 58, SCSS/_main.scss */
.bg-modal .modal .cerrar .fas {
  color: #fff;
  line-height: 4rem;
  font-size: 2.5rem;
}

/* line 65, SCSS/_main.scss */
.bg-modal .modal h4 {
  color: #fff;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
}

@media only screen and (min-width: 481px) {
  /* line 65, SCSS/_main.scss */
  .bg-modal .modal h4 {
    font-size: 2.6rem;
    margin-bottom: 2rem;
  }
}

@media only screen and (min-width: 769px) {
  /* line 18, SCSS/_main.scss */
  .bg-modal .modal {
    width: calc(600px + 2rem*2);
  }
}

/* line 81, SCSS/_main.scss */
.bg-modal .modal figure, .bg-modal .modal .video-modal {
  width: 85%;
  margin: 0 auto;
  text-align: center;
  transform: rotate(-5deg);
  box-shadow: 0 0 10px 1px #000;
}

/* line 89, SCSS/_main.scss */
.bg-modal .modal .img-total {
  width: 100% !important;
  transform: rotate(0deg) !important;
}

/* line 94, SCSS/_main.scss */
.bg-modal .modal .video-modal {
  width: 100%;
  transform: rotate(0deg);
}

/* line 99, SCSS/_main.scss */
.bg-modal .modal .video-modal video {
  width: 100%;
  display: block;
}

/* line 105, SCSS/_main.scss */
.bg-modal .modal p, .bg-modal .modal a {
  font-size: 14px;
}

@keyframes dearriba {
  0% {
    top: -75%;
    opacity: 0;
  }
  100% {
    top: 65px;
    opacity: 1;
  }
}

@keyframes deabajo {
  0% {
    top: 65px;
    opacity: 1;
  }
  100% {
    top: -75%;
    opacity: 0;
  }
}

/* line 140, SCSS/_main.scss */
.bg-modal .bajan {
  animation: dearriba 1s;
}

/* line 144, SCSS/_main.scss */
.bg-modal .suben {
  animation: deabajo 1s;
}

/* line 150, SCSS/_main.scss */
.titulo-home {
  display: none;
}

/* line 155, SCSS/_main.scss */
section .wrapper p, section .wrapper li {
  text-align: justify;
}

/* line 160, SCSS/_main.scss */
.seccion {
  padding: 4rem 0;
}

@media only screen and (min-width: 769px) {
  /* line 160, SCSS/_main.scss */
  .seccion {
    padding: 6rem 0;
  }
}

/* line 168, SCSS/_main.scss */
.seccion .wrapper .titulo {
  width: 100%;
  text-align: center;
}

@media only screen and (min-width: 769px) {
  /* line 174, SCSS/_main.scss */
  .seccion .benefits {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
  }
}

/* line 183, SCSS/_main.scss */
.seccion .benefit:not(:last-child) {
  margin-bottom: 4rem;
}

@media only screen and (min-width: 481px) {
  /* line 183, SCSS/_main.scss */
  .seccion .benefit:not(:last-child) {
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 481px) {
  /* line 182, SCSS/_main.scss */
  .seccion .benefit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4rem 0;
  }
}

@media only screen and (min-width: 769px) {
  /* line 182, SCSS/_main.scss */
  .seccion .benefit {
    width: calc(50% - 2rem);
  }
}

/* line 203, SCSS/_main.scss */
.seccion .img-benefit {
  margin-bottom: 2rem;
}

@media only screen and (min-width: 481px) {
  /* line 203, SCSS/_main.scss */
  .seccion .img-benefit {
    margin-bottom: 0;
    width: calc(50% - 1rem);
  }
}

@media only screen and (min-width: 481px) {
  /* line 212, SCSS/_main.scss */
  .seccion .texto-benefit {
    width: calc(50% - 1rem);
  }
}

/* line 217, SCSS/_main.scss */
.seccion .texto-benefit .subtitulo {
  font-size: 2rem;
}

/* line 221, SCSS/_main.scss */
.seccion .texto-benefit p {
  font-size: 1.5rem;
}

/* line 227, SCSS/_main.scss */
.seccion-home-hero,
.seccion-inner-hero {
  margin-top: 39px;
  background-image: url(../img/home-hero.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
}

@media only screen and (min-width: 769px) {
  /* line 227, SCSS/_main.scss */
  .seccion-home-hero,
  .seccion-inner-hero {
    margin-top: 47px;
  }
}

/* line 239, SCSS/_main.scss */
.seccion-home-hero .contenedor-logos,
.seccion-inner-hero .contenedor-logos {
  margin: 0 auto;
  perspective: 700;
  -webkit-perspective: 700;
  -moz-perspective: 700;
}

/* line 245, SCSS/_main.scss */
.seccion-home-hero .contenedor-logos .logo-card,
.seccion-inner-hero .contenedor-logos .logo-card {
  width: 100%;
  position: relative;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transition: all 0.6s ease;
  transform: rotateY(4140deg);
}

/* line 254, SCSS/_main.scss */
.seccion-home-hero .contenedor-logos .logo-card .frontal,
.seccion-inner-hero .contenedor-logos .logo-card .frontal {
  opacity: 0;
  transition: all 0.6s ease;
}

/* line 259, SCSS/_main.scss */
.seccion-home-hero .contenedor-logos .logo-card .frontal, .seccion-home-hero .contenedor-logos .logo-card .posterior,
.seccion-inner-hero .contenedor-logos .logo-card .frontal,
.seccion-inner-hero .contenedor-logos .logo-card .posterior {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}

/* line 265, SCSS/_main.scss */
.seccion-home-hero .contenedor-logos .logo-card .posterior,
.seccion-inner-hero .contenedor-logos .logo-card .posterior {
  position: absolute;
  top: 0;
  transform: rotateY(180deg);
}

/* line 272, SCSS/_main.scss */
.seccion-home-hero .contenedor-logos .logo-kcs,
.seccion-inner-hero .contenedor-logos .logo-kcs {
  transform: rotateY(0deg) !important;
}

/* line 275, SCSS/_main.scss */
.seccion-home-hero .contenedor-logos .logo-kcs .frontal,
.seccion-inner-hero .contenedor-logos .logo-kcs .frontal {
  opacity: 1;
}

/* line 279, SCSS/_main.scss */
.seccion-home-hero .contenedor-logos .logo-kcs .posterior,
.seccion-inner-hero .contenedor-logos .logo-kcs .posterior {
  opacity: 0;
}

/* line 288, SCSS/_main.scss */
.seccion-home-hero .contenedor-logos {
  width: 180px;
}

@media only screen and (min-width: 769px) {
  /* line 288, SCSS/_main.scss */
  .seccion-home-hero .contenedor-logos {
    width: 250px;
  }
}

/* line 297, SCSS/_main.scss */
.seccion-inner-hero {
  padding: 2rem 0 0;
}

/* line 300, SCSS/_main.scss */
.seccion-inner-hero .wrapper {
  width: 100%;
  position: relative;
}

@media only screen and (min-width: 481px) {
  /* line 300, SCSS/_main.scss */
  .seccion-inner-hero .wrapper {
    max-width: 400px;
  }
}

@media only screen and (min-width: 769px) {
  /* line 300, SCSS/_main.scss */
  .seccion-inner-hero .wrapper {
    width: 83.3333333%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
}

@media only screen and (min-width: 769px) {
  /* line 297, SCSS/_main.scss */
  .seccion-inner-hero {
    padding-top: 0;
  }
}

/* line 322, SCSS/_main.scss */
.seccion-inner-hero .contenedor-logos {
  width: 75px;
}

@media only screen and (min-width: 769px) {
  /* line 322, SCSS/_main.scss */
  .seccion-inner-hero .contenedor-logos {
    width: 150px;
  }
}

/* line 330, SCSS/_main.scss */
.seccion-inner-hero .titulo {
  margin: 2rem 0;
}

@media only screen and (min-width: 769px) {
  /* line 330, SCSS/_main.scss */
  .seccion-inner-hero .titulo {
    width: calc(100% - 430px) !important;
  }
}

@media only screen and (min-width: 769px) {
  /* line 338, SCSS/_main.scss */
  .seccion-inner-hero .hero-pic {
    width: 280px;
  }
}

@media only screen and (min-width: 769px) {
  /* line 346, SCSS/_main.scss */
  .seccion-partida .wrapper, .seccion-videoinfo .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
}

/* line 354, SCSS/_main.scss */
.seccion-partida .wrapper .img-articulo, .seccion-partida .wrapper .vid-articulo, .seccion-videoinfo .wrapper .img-articulo, .seccion-videoinfo .wrapper .vid-articulo {
  margin-bottom: 2rem;
}

@media only screen and (min-width: 769px) {
  /* line 354, SCSS/_main.scss */
  .seccion-partida .wrapper .img-articulo, .seccion-partida .wrapper .vid-articulo, .seccion-videoinfo .wrapper .img-articulo, .seccion-videoinfo .wrapper .vid-articulo {
    margin-bottom: 0;
    width: 500px;
  }
}

@media only screen and (min-width: 769px) {
  /* line 363, SCSS/_main.scss */
  .seccion-partida .wrapper .vid-articulo, .seccion-videoinfo .wrapper .vid-articulo {
    width: 370px;
  }
}

/* line 370, SCSS/_main.scss */
.seccion-partida .wrapper .vid-articulo video, .seccion-partida .wrapper .vid-articulo2 video, .seccion-videoinfo .wrapper .vid-articulo video, .seccion-videoinfo .wrapper .vid-articulo2 video {
  width: 100%;
}

/* line 376, SCSS/_main.scss */
.seccion-partida .wrapper .vid-articulo2:first-child, .seccion-videoinfo .wrapper .vid-articulo2:first-child {
  margin-bottom: 4rem;
}

@media only screen and (min-width: 769px) {
  /* line 375, SCSS/_main.scss */
  .seccion-partida .wrapper .vid-articulo2, .seccion-videoinfo .wrapper .vid-articulo2 {
    margin-bottom: 0 !important;
    width: calc(50% - 2rem*1.5) !important;
  }
}

/* line 386, SCSS/_main.scss */
.seccion-partida .wrapper .texto-articulo, .seccion-videoinfo .wrapper .texto-articulo {
  text-align: center;
}

@media only screen and (min-width: 769px) {
  /* line 386, SCSS/_main.scss */
  .seccion-partida .wrapper .texto-articulo, .seccion-videoinfo .wrapper .texto-articulo {
    text-align: left;
    width: calc((100% - 500px) - 3rem);
  }
}

/* line 393, SCSS/_main.scss */
.seccion-partida .wrapper .texto-articulo .cta, .seccion-videoinfo .wrapper .texto-articulo .cta {
  background-color: #005b81;
  color: #b7daed;
  padding: 1rem 2rem;
  display: inline-block;
  border-radius: 4px;
  text-transform: capitalize;
  transition: all 0.3s ease;
}

/* line 35, SCSS/_mixins.scss */
.seccion-partida .wrapper .texto-articulo .cta:hover, .seccion-videoinfo .wrapper .texto-articulo .cta:hover {
  background-color: #00374e;
}

/* line 398, SCSS/_main.scss */
.seccion-partida .wrapper .evento-mensual, .seccion-videoinfo .wrapper .evento-mensual {
  margin-bottom: 4rem;
}

@media only screen and (min-width: 769px) {
  /* line 398, SCSS/_main.scss */
  .seccion-partida .wrapper .evento-mensual, .seccion-videoinfo .wrapper .evento-mensual {
    margin-bottom: 0;
    width: calc(50% - 2rem);
  }
}

@media only screen and (min-width: 769px) {
  /* line 407, SCSS/_main.scss */
  .seccion-partida .wrapper .cumples-mes, .seccion-videoinfo .wrapper .cumples-mes {
    width: calc(50% - 2rem);
  }
}

/* line 412, SCSS/_main.scss */
.seccion-partida .wrapper .cumples-mes table, .seccion-videoinfo .wrapper .cumples-mes table {
  width: 100%;
  font-size: 1.5rem;
}

/* line 416, SCSS/_main.scss */
.seccion-partida .wrapper .cumples-mes table th, .seccion-partida .wrapper .cumples-mes table td, .seccion-videoinfo .wrapper .cumples-mes table th, .seccion-videoinfo .wrapper .cumples-mes table td {
  width: 14.2857143%;
  background-color: #fff;
  padding: 1rem 0;
  text-align: center;
}

@media only screen and (min-width: 481px) {
  /* line 416, SCSS/_main.scss */
  .seccion-partida .wrapper .cumples-mes table th, .seccion-partida .wrapper .cumples-mes table td, .seccion-videoinfo .wrapper .cumples-mes table th, .seccion-videoinfo .wrapper .cumples-mes table td {
    height: 37px;
  }
}

/* line 426, SCSS/_main.scss */
.seccion-partida .wrapper .cumples-mes table th:first-child, .seccion-partida .wrapper .cumples-mes table td:first-child, .seccion-videoinfo .wrapper .cumples-mes table th:first-child, .seccion-videoinfo .wrapper .cumples-mes table td:first-child {
  color: #40d1fa;
}

/* line 431, SCSS/_main.scss */
.seccion-partida .wrapper .cumples-mes table th, .seccion-videoinfo .wrapper .cumples-mes table th {
  color: #005b81;
}

/* line 436, SCSS/_main.scss */
.seccion-partida .wrapper .cumples-mes table td img, .seccion-videoinfo .wrapper .cumples-mes table td img {
  border-radius: 50%;
  overflow: hidden;
}

@media only screen and (min-width: 481px) {
  /* line 436, SCSS/_main.scss */
  .seccion-partida .wrapper .cumples-mes table td img, .seccion-videoinfo .wrapper .cumples-mes table td img {
    margin: 0 auto;
    width: 70%;
  }
}

/* line 449, SCSS/_main.scss */
.seccion-partida .wrapper .cumples-mes .lista-cumples, .seccion-videoinfo .wrapper .cumples-mes .lista-cumples {
  margin: 2rem 0 0 2rem;
}

/* line 452, SCSS/_main.scss */
.seccion-partida .wrapper .cumples-mes .lista-cumples li, .seccion-videoinfo .wrapper .cumples-mes .lista-cumples li {
  list-style-type: square;
}

/* line 467, SCSS/_main.scss */
.seccion-principios .principio:not(:last-child), #propuesta-laboral .principio:not(:last-child), .partida-abierta .principio:not(:last-child) {
  margin-bottom: 4rem;
}

/* line 471, SCSS/_main.scss */
.seccion-principios .icono-principios, #propuesta-laboral .icono-principios, .partida-abierta .icono-principios {
  background-color: #005b81;
  color: #fff;
  text-align: center;
  width: 6rem;
  height: 6rem;
  margin: 0 auto 2rem;
  border-radius: 50%;
}

/* line 480, SCSS/_main.scss */
.seccion-principios .icono-principios .fas, .seccion-principios .icono-principios .fab, .seccion-principios .icono-principios .fa, #propuesta-laboral .icono-principios .fas, #propuesta-laboral .icono-principios .fab, #propuesta-laboral .icono-principios .fa, .partida-abierta .icono-principios .fas, .partida-abierta .icono-principios .fab, .partida-abierta .icono-principios .fa {
  font-size: 3rem;
  line-height: 6rem;
}

/* line 486, SCSS/_main.scss */
.seccion-principios .subtitulo, #propuesta-laboral .subtitulo, .partida-abierta .subtitulo {
  text-align: center;
}

@media only screen and (min-width: 769px) {
  /* line 491, SCSS/_main.scss */
  .seccion-principios .wrapper .alfinal, #propuesta-laboral .wrapper .alfinal, .partida-abierta .wrapper .alfinal {
    order: 3;
  }
}

/* line 497, SCSS/_main.scss */
.seccion-principios .wrapper .texto-articulo, #propuesta-laboral .wrapper .texto-articulo, .partida-abierta .wrapper .texto-articulo {
  text-align: left;
}

@media only screen and (min-width: 769px) {
  /* line 497, SCSS/_main.scss */
  .seccion-principios .wrapper .texto-articulo, #propuesta-laboral .wrapper .texto-articulo, .partida-abierta .wrapper .texto-articulo {
    width: calc((100% - 500px) - 12rem);
  }
}

/* line 503, SCSS/_main.scss */
.seccion-principios .wrapper .texto-articulo .cta, #propuesta-laboral .wrapper .texto-articulo .cta, .partida-abierta .wrapper .texto-articulo .cta {
  background-color: #005b81;
  color: #b7daed;
  padding: 1rem 2rem;
  display: inline-block;
  border-radius: 4px;
  text-transform: capitalize;
  transition: all 0.3s ease;
}

/* line 35, SCSS/_mixins.scss */
.seccion-principios .wrapper .texto-articulo .cta:hover, #propuesta-laboral .wrapper .texto-articulo .cta:hover, .partida-abierta .wrapper .texto-articulo .cta:hover {
  background-color: #00374e;
}

/* line 508, SCSS/_main.scss */
.seccion-principios .wrapper .texto-articulo .lista-articulo li, #propuesta-laboral .wrapper .texto-articulo .lista-articulo li, .partida-abierta .wrapper .texto-articulo .lista-articulo li {
  list-style: square;
  margin-left: 1.8rem;
}

/* line 512, SCSS/_main.scss */
.seccion-principios .wrapper .texto-articulo .lista-articulo li:not(:last-child), #propuesta-laboral .wrapper .texto-articulo .lista-articulo li:not(:last-child), .partida-abierta .wrapper .texto-articulo .lista-articulo li:not(:last-child) {
  margin-bottom: 2rem;
}

/* line 522, SCSS/_main.scss */
.partida-abierta .subtitulo {
  text-align: left;
}

/* line 529, SCSS/_main.scss */
#propuesta-laboral form input, #propuesta-laboral form select, .seccion-contacto form input, .seccion-contacto form select {
  font-size: 1.6rem;
  padding: 5px;
  border: none;
  width: 100%;
}

/* line 535, SCSS/_main.scss */
#propuesta-laboral form input:not(:last-child), #propuesta-laboral form select:not(:last-child), .seccion-contacto form input:not(:last-child), .seccion-contacto form select:not(:last-child) {
  margin-bottom: 2rem;
}

@media only screen and (min-width: 769px) {
  /* line 541, SCSS/_main.scss */
  #propuesta-laboral form .boton .cta, .seccion-contacto form .boton .cta {
    width: 120px;
  }
}

@media only screen and (min-width: 769px) {
  /* line 551, SCSS/_main.scss */
  .seccion-contacto form {
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
  }
}

/* line 559, SCSS/_main.scss */
.seccion-contacto textarea {
  width: 100%;
  border: none;
  resize: none;
  font-size: 1.6rem;
  padding: 5px;
  margin-top: 2rem;
  height: 10rem;
}

@media only screen and (min-width: 769px) {
  /* line 559, SCSS/_main.scss */
  .seccion-contacto textarea {
    height: auto;
    margin-top: 0;
  }
}

@media only screen and (min-width: 769px) {
  /* line 574, SCSS/_main.scss */
  .seccion-contacto .inputs, .seccion-contacto textarea {
    width: calc(50% - 2rem);
  }
}

/* line 580, SCSS/_main.scss */
.seccion-contacto .boton {
  width: 100%;
  margin-top: 2rem;
}

/* line 584, SCSS/_main.scss */
.seccion-contacto .boton .cta {
  background-color: #005b81;
  color: #b7daed;
  padding: 1rem 2rem;
  display: inline-block;
  border-radius: 4px;
  text-transform: capitalize;
  transition: all 0.3s ease;
}

/* line 35, SCSS/_mixins.scss */
.seccion-contacto .boton .cta:hover {
  background-color: #00374e;
}

/* line 590, SCSS/_main.scss */
.seccion-ubicanos {
  padding-bottom: 0;
}

/* line 593, SCSS/_main.scss */
.seccion-ubicanos iframe {
  width: 100%;
}

/* line 598, SCSS/_main.scss */
.seccion-cards {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

/* line 603, SCSS/_main.scss */
.seccion-cards .card-container {
  width: 50%;
  perspective: 700;
  -webkit-perspective: 700;
  -moz-perspective: 700;
}

@media only screen and (min-width: 481px) {
  /* line 603, SCSS/_main.scss */
  .seccion-cards .card-container {
    width: 33.3333333%;
  }
}

@media only screen and (min-width: 769px) {
  /* line 603, SCSS/_main.scss */
  .seccion-cards .card-container {
    width: 16.666666666%;
  }
}

/* line 617, SCSS/_main.scss */
.seccion-cards .card-container:hover .card {
  transform: rotateY(180deg);
}

/* line 621, SCSS/_main.scss */
.seccion-cards .card-container .card {
  width: 100%;
  position: relative;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transition: all 0.3s ease;
}

/* line 629, SCSS/_main.scss */
.seccion-cards .card-container .card .frontal, .seccion-cards .card-container .card .posterior {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}

/* line 635, SCSS/_main.scss */
.seccion-cards .card-container .card .posterior {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #005b81;
  text-align: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  transform: rotateY(180deg);
}

/* line 648, SCSS/_main.scss */
.seccion-cards .card-container .card .posterior h2 {
  font-size: 1.9rem;
  color: #b7daed;
}

@media only screen and (min-width: 769px) {
  /* line 648, SCSS/_main.scss */
  .seccion-cards .card-container .card .posterior h2 {
    font-size: 2.2rem;
  }
}

/* line 657, SCSS/_main.scss */
.seccion-cards .card-container .card .posterior .cta {
  margin-top: 2rem;
  width: 110px;
  background-color: #b7daed;
  color: #005b81;
  padding: 1rem 2rem;
  display: inline-block;
  border-radius: 4px;
  text-transform: capitalize;
  transition: all 0.3s ease;
}

/* line 35, SCSS/_mixins.scss */
.seccion-cards .card-container .card .posterior .cta:hover {
  background-color: #3d9bce;
}

/* line 668, SCSS/_main.scss */
.seccion-videoinfo .videoinfo {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

/* line 673, SCSS/_main.scss */
.seccion-videoinfo .videoinfo iframe {
  width: 100%;
  display: block;
  height: 200px;
}

@media only screen and (min-width: 481px) {
  /* line 673, SCSS/_main.scss */
  .seccion-videoinfo .videoinfo iframe {
    height: 320px;
  }
}

@media only screen and (min-width: 769px) {
  /* line 673, SCSS/_main.scss */
  .seccion-videoinfo .videoinfo iframe {
    height: 500px;
  }
}

/* line 690, SCSS/_main.scss */
.seccion-companies .companies {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 2rem;
}

/* line 698, SCSS/_main.scss */
.seccion-companies .companies .companie {
  width: 40%;
  margin: 1rem;
}

@media only screen and (min-width: 481px) {
  /* line 698, SCSS/_main.scss */
  .seccion-companies .companies .companie {
    width: 30%;
  }
}

@media only screen and (min-width: 769px) {
  /* line 698, SCSS/_main.scss */
  .seccion-companies .companies .companie {
    width: 15%;
  }
}

/* line 713, SCSS/_main.scss */
.galeria {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

@media only screen and (min-width: 769px) {
  /* line 713, SCSS/_main.scss */
  .galeria {
    align-items: center;
  }
}

/* line 722, SCSS/_main.scss */
.galeria .foto-galeria {
  max-width: 300px;
  width: calc(50% - 2rem/2);
  margin: 0.66667rem 0;
}

@media only screen and (min-width: 481px) {
  /* line 722, SCSS/_main.scss */
  .galeria .foto-galeria {
    margin: 2rem 0;
  }
}

@media only screen and (min-width: 769px) {
  /* line 722, SCSS/_main.scss */
  .galeria .foto-galeria {
    width: calc(25% - 2rem*2);
  }
}

@media only screen and (min-width: 481px) {
  /* line 738, SCSS/_main.scss */
  .actitudes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

@media only screen and (min-width: 769px) {
  /* line 738, SCSS/_main.scss */
  .actitudes {
    justify-content: space-between;
  }
}

/* line 749, SCSS/_main.scss */
.actitudes .actitud {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0;
}

@media only screen and (min-width: 481px) {
  /* line 749, SCSS/_main.scss */
  .actitudes .actitud {
    width: calc(50% - 2rem);
  }
}

@media only screen and (min-width: 769px) {
  /* line 749, SCSS/_main.scss */
  .actitudes .actitud {
    width: calc(20% - 2rem);
  }
}

/* line 764, SCSS/_main.scss */
.actitudes .actitud img {
  width: 60px;
  height: 60px;
}

/* line 769, SCSS/_main.scss */
.actitudes .actitud .subtitulo {
  margin-bottom: 0;
}

/*==============  Fin de Main  ===============*/
/*==============================================
=                      Main                    =
===============================================*/
/* line 5, SCSS/_footer.scss */
footer {
  padding: 4rem 0;
  background-color: #005b81;
}

@media only screen and (min-width: 769px) {
  /* line 9, SCSS/_footer.scss */
  footer .wrapper {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    align-items: center;
  }
}

/* line 18, SCSS/_footer.scss */
footer .datos-footer {
  display: none;
}

@media only screen and (min-width: 769px) {
  /* line 18, SCSS/_footer.scss */
  footer .datos-footer {
    display: block;
  }
}

/* line 26, SCSS/_footer.scss */
footer .rrss-icons {
  display: flex;
  justify-content: center;
}

/* line 30, SCSS/_footer.scss */
footer .rrss-icons .rrss-icon {
  width: 4rem;
  height: 4rem;
  text-align: center;
}

/* line 35, SCSS/_footer.scss */
footer .rrss-icons .rrss-icon:not(:first-child) {
  margin-left: 0.66667rem;
}

/* line 39, SCSS/_footer.scss */
footer .rrss-icons .rrss-icon a {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
  background-color: #3d9bce;
  transition: all 0.3s ease;
}

/* line 47, SCSS/_footer.scss */
footer .rrss-icons .rrss-icon a:hover {
  background-color: #00425d;
}

/* line 51, SCSS/_footer.scss */
footer .rrss-icons .rrss-icon a .fas, footer .rrss-icons .rrss-icon a .fab, footer .rrss-icons .rrss-icon a .fa {
  font-size: 2.5rem;
  line-height: 4rem;
  color: #005b81;
}

@media only screen and (min-width: 481px) {
  /* line 59, SCSS/_footer.scss */
  footer .rrss-icons .rrss-icon:first-child, footer .rrss-icons .rrss-icon:last-child {
    display: none;
  }
}

/* line 67, SCSS/_footer.scss */
footer .kallpa-radio-tv {
  width: 8rem;
  margin: 2rem auto 0 auto;
}

@media only screen and (min-width: 769px) {
  /* line 67, SCSS/_footer.scss */
  footer .kallpa-radio-tv {
    margin: 0;
  }
}

/* line 76, SCSS/_footer.scss */
footer p, footer a {
  font-size: 1.5rem !important;
  color: #b7daed;
  line-height: 2.4rem;
}

/* line 81, SCSS/_footer.scss */
footer p:not(:last-child), footer a:not(:last-child) {
  margin-bottom: 1rem !important;
}

/* line 86, SCSS/_footer.scss */
footer p {
  text-align: center;
}

@media only screen and (min-width: 769px) {
  /* line 86, SCSS/_footer.scss */
  footer p {
    text-align: left;
  }
}

/* line 93, SCSS/_footer.scss */
footer p .linea-texto {
  display: block;
}

@media only screen and (min-width: 769px) {
  /* line 93, SCSS/_footer.scss */
  footer p .linea-texto {
    display: inline;
  }
}

/* line 101, SCSS/_footer.scss */
footer p .barra {
  display: none;
}

@media only screen and (min-width: 769px) {
  /* line 101, SCSS/_footer.scss */
  footer p .barra {
    display: inline;
    margin: 0 6px;
  }
}

/* line 111, SCSS/_footer.scss */
footer .firma {
  margin-top: 2rem;
  padding-top: 2rem;
  border-top: 1px solid rgba(183, 218, 237, 0.2);
}

@media only screen and (min-width: 769px) {
  /* line 111, SCSS/_footer.scss */
  footer .firma {
    width: 100%;
  }
}

/* line 120, SCSS/_footer.scss */
footer .firma p, footer .firma a {
  font-size: 1.4rem !important;
  text-align: center;
}

/* line 125, SCSS/_footer.scss */
footer .firma a:hover {
  color: #40d1fa;
}

/*==============  Fin de Main  ===============*/
