/*==============================================
=               Aspectos Generales             =
===============================================*/
/* line 5, SCSS/_globales.scss */
*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* line 11, SCSS/_globales.scss */
ul li {
  list-style: none;
}

/* line 15, SCSS/_globales.scss */
a {
  text-decoration: none;
}

/* line 19, SCSS/_globales.scss */
html {
  height: 100%;
  font-size: 62.5%;
}

/* line 23, SCSS/_globales.scss */
html body {
  height: 100%;
  font: 10px "quattrocento-rg";
}

/* line 27, SCSS/_globales.scss */
html body p, html body a, html body li {
  font-size: 1.9rem;
}

/* line 31, SCSS/_globales.scss */
html body p:not(:last-child) {
  margin-bottom: 2rem;
}

/* line 35, SCSS/_globales.scss */
html body .titulo {
  font: 4rem "quattrocento-bd";
  color: #005b81;
  margin-top: 0;
  margin-bottom: 1rem;
}

/* line 42, SCSS/_globales.scss */
html body .subtitulo {
  font: 2.8rem "quattrocento-bd";
  color: #005b81;
  margin-bottom: 1rem;
}

/* line 48, SCSS/_globales.scss */
html body .bold {
  font-family: "quattrocento-bd";
}

/* line 52, SCSS/_globales.scss */
html body .wrapper {
  width: 90%;
  margin: 0 auto;
}

@media only screen and (min-width: 769px) {
  /* line 52, SCSS/_globales.scss */
  html body .wrapper {
    width: 83.3333333%;
    max-width: 1200px;
  }
}

/* line 62, SCSS/_globales.scss */
html body .fondo-celeste {
  background-color: #d8e8ef;
}

/* line 66, SCSS/_globales.scss */
html body .centrado {
  text-align: center;
}

/* line 70, SCSS/_globales.scss */
html body figure, html body div {
  margin: 0;
}

/* line 73, SCSS/_globales.scss */
html body figure img, html body div img {
  width: 100%;
  display: block;
}

/* line 79, SCSS/_globales.scss */
html body input[type=submit] {
  cursor: pointer;
}

@keyframes heartbeat {
  0% {
    transform: scale(1.05);
  }
  25% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

/* line 90, SCSS/_globales.scss */
html body .bigger {
  animation: heartbeat 0.5s infinite;
}

/*=======  Fin de Aspectos Generales  ========*/
/*==============================================
=                     Header                   =
===============================================*/
/* line 5, SCSS/_header.scss */
.menu-bar {
  width: 100%;
  height: 39px;
  background-color: #005b81;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 300;
}

@media only screen and (min-width: 769px) {
  /* line 5, SCSS/_header.scss */
  .menu-bar {
    display: none;
  }
}

/* line 21, SCSS/_header.scss */
.menu-bar .bt-menu {
  width: 30px;
  margin-right: 15px;
  cursor: pointer;
}

/* line 26, SCSS/_header.scss */
.menu-bar .bt-menu .uno, .menu-bar .bt-menu .dos, .menu-bar .bt-menu .tres {
  width: 100%;
  height: 2px;
  background-color: #40d1fa;
  transition: all 1s ease;
}

/* line 33, SCSS/_header.scss */
.menu-bar .bt-menu .dos {
  margin: 6px 0;
}

/* line 39, SCSS/_header.scss */
.menu-bar .bt-menu2 .dos {
  opacity: 0;
}

/* line 43, SCSS/_header.scss */
.menu-bar .bt-menu2 .uno {
  transform: rotate(45deg) translate(5px, 5px);
}

/* line 47, SCSS/_header.scss */
.menu-bar .bt-menu2 .tres {
  transform: rotate(-45deg) translate(6px, -7px);
}

@media only screen and (min-width: 769px) {
  /* line 53, SCSS/_header.scss */
  .fecha-menu {
    width: 100%;
    background-color: #005b81;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;
  }
}

@media only screen and (min-width: 769px) {
  /* line 63, SCSS/_header.scss */
  .fecha-menu .wrapper {
    display: flex;
    justify-content: space-between;
  }
}

/* line 70, SCSS/_header.scss */
.fecha-menu #fecha {
  display: none;
}

@media only screen and (min-width: 769px) {
  /* line 70, SCSS/_header.scss */
  .fecha-menu #fecha {
    display: block;
    color: #d8e8ef;
    font-size: 1.6rem;
    margin-bottom: 0;
    line-height: 47px;
  }
}

/* line 82, SCSS/_header.scss */
.fecha-menu .main-menu {
  position: fixed;
  width: 100%;
  top: -280px;
  left: 0;
  background-color: rgba(0, 91, 129, 0.95);
  z-index: 500;
}

/* line 91, SCSS/_header.scss */
.fecha-menu .main-menu .menu li {
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, 0.25);
}

@media only screen and (min-width: 769px) {
  /* line 91, SCSS/_header.scss */
  .fecha-menu .main-menu .menu li {
    border-top: none;
    position: relative;
  }
}

/* line 100, SCSS/_header.scss */
.fecha-menu .main-menu .menu li a {
  font-size: 1.6rem;
  color: #d8e8ef;
  text-transform: capitalize;
  padding: 1rem 0;
  display: block;
  transition: all 0.3s ease;
}

/* line 108, SCSS/_header.scss */
.fecha-menu .main-menu .menu li a:hover {
  background-color: #00425d;
}

@media only screen and (min-width: 769px) {
  /* line 100, SCSS/_header.scss */
  .fecha-menu .main-menu .menu li a {
    padding: 14px;
  }
}

@media only screen and (min-width: 769px) {
  /* line 117, SCSS/_header.scss */
  .fecha-menu .main-menu .menu li .selected:after {
    content: '';
    width: 16px;
    height: 8px;
    background-image: url(../img/selected.png);
    position: absolute;
    top: 100%;
    right: calc(50% - 8px);
  }
}

@media only screen and (min-width: 769px) {
  /* line 90, SCSS/_header.scss */
  .fecha-menu .main-menu .menu {
    display: flex;
  }
}

@media only screen and (min-width: 769px) {
  /* line 82, SCSS/_header.scss */
  .fecha-menu .main-menu {
    position: relative;
    width: auto;
    top: 0;
    left: 0;
    background-color: transparent;
    display: flex;
  }
}

/*=============  Fin de Header  ==============*/
/*==============================================
=                      Main                    =
===============================================*/
/* line 6, SCSS/_main.scss */
.bg-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 600;
  background-color: rgba(0, 0, 0, 0.7);
  transition: all 0.3s ease;
  display: none;
}

/* line 17, SCSS/_main.scss */
.bg-modal .modal {
  width: 85%;
  position: relative;
  margin: 0 auto;
  background-color: #005b81;
  top: 65px;
  padding: 1rem;
  box-shadow: 0 0 10px -2px #000;
  display: none;
}

@media only screen and (min-width: 769px) {
  /* line 17, SCSS/_main.scss */
  .bg-modal .modal {
    padding: 2rem;
  }
}

/* line 31, SCSS/_main.scss */
.bg-modal .modal .cerrar {
  position: absolute;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: #00374e;
  top: -1rem;
  right: -1rem;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 0 10px -2px #000;
}

/* line 43, SCSS/_main.scss */
.bg-modal .modal .cerrar .fas {
  color: #fff;
  line-height: 4rem;
  font-size: 2.5rem;
}

/* line 50, SCSS/_main.scss */
.bg-modal .modal h4 {
  color: #fff;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
}

@media only screen and (min-width: 481px) {
  /* line 50, SCSS/_main.scss */
  .bg-modal .modal h4 {
    font-size: 2.6rem;
    margin-bottom: 2rem;
  }
}

@media only screen and (min-width: 769px) {
  /* line 17, SCSS/_main.scss */
  .bg-modal .modal {
    width: 600px;
  }
}

/* line 66, SCSS/_main.scss */
.bg-modal .modal figure {
  width: 85%;
  margin: 0 auto;
  text-align: center;
  transform: rotate(-5deg);
  box-shadow: 0 0 10px 1px #000;
}

/* line 74, SCSS/_main.scss */
.bg-modal .modal p {
  color: #fff;
  position: relative;
  z-index: 601;
  margin-top: -3rem;
  font-size: 1.5rem;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.8);
}

@keyframes dearriba {
  0% {
    top: -75%;
    opacity: 0;
  }
  100% {
    top: 65px;
    opacity: 1;
  }
}

@keyframes deabajo {
  0% {
    top: 65px;
    opacity: 1;
  }
  100% {
    top: -75%;
    opacity: 0;
  }
}

/* line 109, SCSS/_main.scss */
.bg-modal .bajan {
  animation: dearriba 1s;
}

/* line 113, SCSS/_main.scss */
.bg-modal .suben {
  animation: deabajo 1s;
}

/* line 119, SCSS/_main.scss */
.titulo-home {
  display: none;
}

/* line 124, SCSS/_main.scss */
section .wrapper p, section .wrapper li {
  text-align: justify;
}

/* line 129, SCSS/_main.scss */
.seccion {
  padding: 4rem 0;
}

@media only screen and (min-width: 769px) {
  /* line 129, SCSS/_main.scss */
  .seccion {
    padding: 6rem 0;
  }
}

/* line 137, SCSS/_main.scss */
.seccion .wrapper .titulo {
  width: 100%;
  text-align: center;
}

@media only screen and (min-width: 769px) {
  /* line 143, SCSS/_main.scss */
  .seccion .benefits {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
  }
}

/* line 152, SCSS/_main.scss */
.seccion .benefit:not(:last-child) {
  margin-bottom: 4rem;
}

@media only screen and (min-width: 481px) {
  /* line 152, SCSS/_main.scss */
  .seccion .benefit:not(:last-child) {
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 481px) {
  /* line 151, SCSS/_main.scss */
  .seccion .benefit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4rem 0;
  }
}

@media only screen and (min-width: 769px) {
  /* line 151, SCSS/_main.scss */
  .seccion .benefit {
    width: calc(50% - 2rem);
  }
}

/* line 172, SCSS/_main.scss */
.seccion .img-benefit {
  margin-bottom: 2rem;
}

@media only screen and (min-width: 481px) {
  /* line 172, SCSS/_main.scss */
  .seccion .img-benefit {
    margin-bottom: 0;
    width: calc(50% - 1rem);
  }
}

@media only screen and (min-width: 481px) {
  /* line 181, SCSS/_main.scss */
  .seccion .texto-benefit {
    width: calc(50% - 1rem);
  }
}

/* line 186, SCSS/_main.scss */
.seccion .texto-benefit .subtitulo {
  font-size: 2rem;
}

/* line 190, SCSS/_main.scss */
.seccion .texto-benefit p {
  font-size: 1.5rem;
}

/* line 196, SCSS/_main.scss */
.seccion-home-hero,
.seccion-inner-hero {
  margin-top: 39px;
  background-image: url(../img/home-hero.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
}

@media only screen and (min-width: 769px) {
  /* line 196, SCSS/_main.scss */
  .seccion-home-hero,
  .seccion-inner-hero {
    margin-top: 47px;
  }
}

/* line 208, SCSS/_main.scss */
.seccion-home-hero .contenedor-logos,
.seccion-inner-hero .contenedor-logos {
  margin: 0 auto;
  perspective: 700;
  -webkit-perspective: 700;
  -moz-perspective: 700;
}

/* line 214, SCSS/_main.scss */
.seccion-home-hero .contenedor-logos .logo-card,
.seccion-inner-hero .contenedor-logos .logo-card {
  width: 100%;
  position: relative;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transition: all 0.6s ease;
  transform: rotateY(4140deg);
}

/* line 223, SCSS/_main.scss */
.seccion-home-hero .contenedor-logos .logo-card .frontal,
.seccion-inner-hero .contenedor-logos .logo-card .frontal {
  opacity: 0;
  transition: all 0.6s ease;
}

/* line 228, SCSS/_main.scss */
.seccion-home-hero .contenedor-logos .logo-card .frontal, .seccion-home-hero .contenedor-logos .logo-card .posterior,
.seccion-inner-hero .contenedor-logos .logo-card .frontal,
.seccion-inner-hero .contenedor-logos .logo-card .posterior {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}

/* line 234, SCSS/_main.scss */
.seccion-home-hero .contenedor-logos .logo-card .posterior,
.seccion-inner-hero .contenedor-logos .logo-card .posterior {
  position: absolute;
  top: 0;
  transform: rotateY(180deg);
}

/* line 241, SCSS/_main.scss */
.seccion-home-hero .contenedor-logos .logo-kcs,
.seccion-inner-hero .contenedor-logos .logo-kcs {
  transform: rotateY(0deg) !important;
}

/* line 244, SCSS/_main.scss */
.seccion-home-hero .contenedor-logos .logo-kcs .frontal,
.seccion-inner-hero .contenedor-logos .logo-kcs .frontal {
  opacity: 1;
}

/* line 248, SCSS/_main.scss */
.seccion-home-hero .contenedor-logos .logo-kcs .posterior,
.seccion-inner-hero .contenedor-logos .logo-kcs .posterior {
  opacity: 0;
}

/* line 257, SCSS/_main.scss */
.seccion-home-hero .contenedor-logos {
  width: 180px;
}

@media only screen and (min-width: 769px) {
  /* line 257, SCSS/_main.scss */
  .seccion-home-hero .contenedor-logos {
    width: 250px;
  }
}

/* line 266, SCSS/_main.scss */
.seccion-inner-hero {
  padding: 2rem 0 0;
}

/* line 269, SCSS/_main.scss */
.seccion-inner-hero .wrapper {
  width: 100%;
  position: relative;
}

@media only screen and (min-width: 481px) {
  /* line 269, SCSS/_main.scss */
  .seccion-inner-hero .wrapper {
    max-width: 400px;
  }
}

@media only screen and (min-width: 769px) {
  /* line 269, SCSS/_main.scss */
  .seccion-inner-hero .wrapper {
    width: 83.3333333%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
}

@media only screen and (min-width: 769px) {
  /* line 266, SCSS/_main.scss */
  .seccion-inner-hero {
    padding-top: 0;
  }
}

/* line 291, SCSS/_main.scss */
.seccion-inner-hero .contenedor-logos {
  width: 75px;
}

@media only screen and (min-width: 769px) {
  /* line 291, SCSS/_main.scss */
  .seccion-inner-hero .contenedor-logos {
    width: 150px;
  }
}

/* line 299, SCSS/_main.scss */
.seccion-inner-hero .titulo {
  margin: 2rem 0;
}

@media only screen and (min-width: 769px) {
  /* line 299, SCSS/_main.scss */
  .seccion-inner-hero .titulo {
    width: calc(100% - 430px) !important;
  }
}

@media only screen and (min-width: 769px) {
  /* line 307, SCSS/_main.scss */
  .seccion-inner-hero .hero-pic {
    width: 280px;
  }
}

@media only screen and (min-width: 769px) {
  /* line 315, SCSS/_main.scss */
  .seccion-partida .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
}

/* line 323, SCSS/_main.scss */
.seccion-partida .wrapper .img-articulo, .seccion-partida .wrapper .vid-articulo {
  margin-bottom: 2rem;
}

@media only screen and (min-width: 769px) {
  /* line 323, SCSS/_main.scss */
  .seccion-partida .wrapper .img-articulo, .seccion-partida .wrapper .vid-articulo {
    margin-bottom: 0;
    width: 500px;
  }
}

/* line 333, SCSS/_main.scss */
.seccion-partida .wrapper .vid-articulo video {
  width: 100%;
}

@media only screen and (min-width: 769px) {
  /* line 332, SCSS/_main.scss */
  .seccion-partida .wrapper .vid-articulo {
    width: 370px;
  }
}

/* line 342, SCSS/_main.scss */
.seccion-partida .wrapper .texto-articulo {
  text-align: center;
}

@media only screen and (min-width: 769px) {
  /* line 342, SCSS/_main.scss */
  .seccion-partida .wrapper .texto-articulo {
    text-align: left;
    width: calc((100% - 500px) - 3rem);
  }
}

/* line 349, SCSS/_main.scss */
.seccion-partida .wrapper .texto-articulo .cta {
  background-color: #005b81;
  color: #d8e8ef;
  padding: 1rem 2rem;
  display: inline-block;
  border-radius: 4px;
  text-transform: capitalize;
  transition: all 0.3s ease;
}

/* line 35, SCSS/_mixins.scss */
.seccion-partida .wrapper .texto-articulo .cta:hover {
  background-color: #00374e;
}

/* line 363, SCSS/_main.scss */
.seccion-principios .principio:not(:last-child), #propuesta-laboral .principio:not(:last-child), .partida-abierta .principio:not(:last-child) {
  margin-bottom: 4rem;
}

/* line 367, SCSS/_main.scss */
.seccion-principios .icono-principios, #propuesta-laboral .icono-principios, .partida-abierta .icono-principios {
  background-color: #005b81;
  color: #fff;
  text-align: center;
  width: 6rem;
  height: 6rem;
  margin: 0 auto 2rem;
  border-radius: 50%;
}

/* line 376, SCSS/_main.scss */
.seccion-principios .icono-principios .fas, .seccion-principios .icono-principios .fab, .seccion-principios .icono-principios .fa, #propuesta-laboral .icono-principios .fas, #propuesta-laboral .icono-principios .fab, #propuesta-laboral .icono-principios .fa, .partida-abierta .icono-principios .fas, .partida-abierta .icono-principios .fab, .partida-abierta .icono-principios .fa {
  font-size: 3rem;
  line-height: 6rem;
}

/* line 382, SCSS/_main.scss */
.seccion-principios .subtitulo, #propuesta-laboral .subtitulo, .partida-abierta .subtitulo {
  text-align: center;
}

@media only screen and (min-width: 769px) {
  /* line 387, SCSS/_main.scss */
  .seccion-principios .wrapper .alfinal, #propuesta-laboral .wrapper .alfinal, .partida-abierta .wrapper .alfinal {
    order: 3;
  }
}

/* line 393, SCSS/_main.scss */
.seccion-principios .wrapper .texto-articulo, #propuesta-laboral .wrapper .texto-articulo, .partida-abierta .wrapper .texto-articulo {
  text-align: left;
}

@media only screen and (min-width: 769px) {
  /* line 393, SCSS/_main.scss */
  .seccion-principios .wrapper .texto-articulo, #propuesta-laboral .wrapper .texto-articulo, .partida-abierta .wrapper .texto-articulo {
    width: calc((100% - 500px) - 12rem);
  }
}

/* line 399, SCSS/_main.scss */
.seccion-principios .wrapper .texto-articulo .cta, #propuesta-laboral .wrapper .texto-articulo .cta, .partida-abierta .wrapper .texto-articulo .cta {
  background-color: #005b81;
  color: #d8e8ef;
  padding: 1rem 2rem;
  display: inline-block;
  border-radius: 4px;
  text-transform: capitalize;
  transition: all 0.3s ease;
}

/* line 35, SCSS/_mixins.scss */
.seccion-principios .wrapper .texto-articulo .cta:hover, #propuesta-laboral .wrapper .texto-articulo .cta:hover, .partida-abierta .wrapper .texto-articulo .cta:hover {
  background-color: #00374e;
}

/* line 404, SCSS/_main.scss */
.seccion-principios .wrapper .texto-articulo .lista-articulo li, #propuesta-laboral .wrapper .texto-articulo .lista-articulo li, .partida-abierta .wrapper .texto-articulo .lista-articulo li {
  list-style: square;
  margin-left: 1.8rem;
}

/* line 408, SCSS/_main.scss */
.seccion-principios .wrapper .texto-articulo .lista-articulo li:not(:last-child), #propuesta-laboral .wrapper .texto-articulo .lista-articulo li:not(:last-child), .partida-abierta .wrapper .texto-articulo .lista-articulo li:not(:last-child) {
  margin-bottom: 2rem;
}

/* line 418, SCSS/_main.scss */
.partida-abierta .subtitulo {
  text-align: left;
}

/* line 425, SCSS/_main.scss */
#propuesta-laboral form input, #propuesta-laboral form select, .seccion-contacto form input, .seccion-contacto form select {
  font-size: 1.6rem;
  padding: 5px;
  border: none;
  width: 100%;
}

/* line 431, SCSS/_main.scss */
#propuesta-laboral form input:not(:last-child), #propuesta-laboral form select:not(:last-child), .seccion-contacto form input:not(:last-child), .seccion-contacto form select:not(:last-child) {
  margin-bottom: 2rem;
}

@media only screen and (min-width: 769px) {
  /* line 437, SCSS/_main.scss */
  #propuesta-laboral form .boton .cta, .seccion-contacto form .boton .cta {
    width: 120px;
  }
}

@media only screen and (min-width: 769px) {
  /* line 447, SCSS/_main.scss */
  .seccion-contacto form {
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
  }
}

/* line 455, SCSS/_main.scss */
.seccion-contacto textarea {
  width: 100%;
  border: none;
  resize: none;
  font-size: 1.6rem;
  padding: 5px;
  margin-top: 2rem;
  height: 10rem;
}

@media only screen and (min-width: 769px) {
  /* line 455, SCSS/_main.scss */
  .seccion-contacto textarea {
    height: auto;
    margin-top: 0;
  }
}

@media only screen and (min-width: 769px) {
  /* line 470, SCSS/_main.scss */
  .seccion-contacto .inputs, .seccion-contacto textarea {
    width: calc(50% - 2rem);
  }
}

/* line 476, SCSS/_main.scss */
.seccion-contacto .boton {
  width: 100%;
  margin-top: 2rem;
}

/* line 480, SCSS/_main.scss */
.seccion-contacto .boton .cta {
  background-color: #005b81;
  color: #d8e8ef;
  padding: 1rem 2rem;
  display: inline-block;
  border-radius: 4px;
  text-transform: capitalize;
  transition: all 0.3s ease;
}

/* line 35, SCSS/_mixins.scss */
.seccion-contacto .boton .cta:hover {
  background-color: #00374e;
}

/* line 486, SCSS/_main.scss */
.seccion-ubicanos {
  padding-bottom: 0;
}

/* line 489, SCSS/_main.scss */
.seccion-ubicanos iframe {
  width: 100%;
}

/* line 494, SCSS/_main.scss */
.seccion-cards {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

/* line 499, SCSS/_main.scss */
.seccion-cards .card-container {
  width: 50%;
  perspective: 700;
  -webkit-perspective: 700;
  -moz-perspective: 700;
}

@media only screen and (min-width: 481px) {
  /* line 499, SCSS/_main.scss */
  .seccion-cards .card-container {
    width: 33.3333333%;
  }
}

@media only screen and (min-width: 769px) {
  /* line 499, SCSS/_main.scss */
  .seccion-cards .card-container {
    width: 16.666666666%;
  }
}

/* line 513, SCSS/_main.scss */
.seccion-cards .card-container:hover .card {
  transform: rotateY(180deg);
}

/* line 517, SCSS/_main.scss */
.seccion-cards .card-container .card {
  width: 100%;
  position: relative;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transition: all 0.3s ease;
}

/* line 525, SCSS/_main.scss */
.seccion-cards .card-container .card .frontal, .seccion-cards .card-container .card .posterior {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}

/* line 531, SCSS/_main.scss */
.seccion-cards .card-container .card .posterior {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #005b81;
  text-align: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  transform: rotateY(180deg);
}

/* line 544, SCSS/_main.scss */
.seccion-cards .card-container .card .posterior h3 {
  font-size: 1.9rem;
  color: #d8e8ef;
}

@media only screen and (min-width: 769px) {
  /* line 544, SCSS/_main.scss */
  .seccion-cards .card-container .card .posterior h3 {
    font-size: 2.2rem;
  }
}

/* line 553, SCSS/_main.scss */
.seccion-cards .card-container .card .posterior .cta {
  margin-top: 2rem;
  width: 110px;
  background-color: #d8e8ef;
  color: #005b81;
  padding: 1rem 2rem;
  display: inline-block;
  border-radius: 4px;
  text-transform: capitalize;
  transition: all 0.3s ease;
}

/* line 35, SCSS/_mixins.scss */
.seccion-cards .card-container .card .posterior .cta:hover {
  background-color: #6ca8c2;
}

/* line 564, SCSS/_main.scss */
.seccion-videoinfo .videoinfo {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

/* line 569, SCSS/_main.scss */
.seccion-videoinfo .videoinfo iframe {
  width: 100%;
  display: block;
  height: 200px;
}

@media only screen and (min-width: 481px) {
  /* line 569, SCSS/_main.scss */
  .seccion-videoinfo .videoinfo iframe {
    height: 320px;
  }
}

@media only screen and (min-width: 769px) {
  /* line 569, SCSS/_main.scss */
  .seccion-videoinfo .videoinfo iframe {
    height: 500px;
  }
}

/* line 586, SCSS/_main.scss */
.seccion-companies .companies {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 2rem;
}

/* line 594, SCSS/_main.scss */
.seccion-companies .companies .companie {
  width: 40%;
  margin: 1rem;
}

@media only screen and (min-width: 481px) {
  /* line 594, SCSS/_main.scss */
  .seccion-companies .companies .companie {
    width: 30%;
  }
}

@media only screen and (min-width: 769px) {
  /* line 594, SCSS/_main.scss */
  .seccion-companies .companies .companie {
    width: 15%;
  }
}

/* line 609, SCSS/_main.scss */
.galeria {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

@media only screen and (min-width: 769px) {
  /* line 609, SCSS/_main.scss */
  .galeria {
    align-items: center;
  }
}

/* line 618, SCSS/_main.scss */
.galeria .foto-galeria {
  max-width: 300px;
  width: calc(50% - 2rem/2);
  margin: 0.66667rem 0;
}

@media only screen and (min-width: 481px) {
  /* line 618, SCSS/_main.scss */
  .galeria .foto-galeria {
    margin: 2rem 0;
  }
}

@media only screen and (min-width: 769px) {
  /* line 618, SCSS/_main.scss */
  .galeria .foto-galeria {
    width: calc(25% - 2rem*2);
  }
}

/*==============  Fin de Main  ===============*/
/*==============================================
=                      Main                    =
===============================================*/
/* line 5, SCSS/_footer.scss */
footer {
  padding: 4rem 0;
  background-color: #005b81;
}

@media only screen and (min-width: 769px) {
  /* line 9, SCSS/_footer.scss */
  footer .wrapper {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    align-items: center;
  }
}

/* line 18, SCSS/_footer.scss */
footer .datos-footer {
  display: none;
}

@media only screen and (min-width: 769px) {
  /* line 18, SCSS/_footer.scss */
  footer .datos-footer {
    display: block;
  }
}

/* line 26, SCSS/_footer.scss */
footer .rrss-icons {
  display: flex;
  justify-content: center;
}

/* line 30, SCSS/_footer.scss */
footer .rrss-icons .rrss-icon {
  width: 4rem;
  height: 4rem;
  text-align: center;
}

/* line 35, SCSS/_footer.scss */
footer .rrss-icons .rrss-icon:not(:first-child) {
  margin-left: 0.66667rem;
}

/* line 39, SCSS/_footer.scss */
footer .rrss-icons .rrss-icon a {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
  background-color: #6ca8c2;
  transition: all 0.3s ease;
}

/* line 47, SCSS/_footer.scss */
footer .rrss-icons .rrss-icon a:hover {
  background-color: #00425d;
}

/* line 51, SCSS/_footer.scss */
footer .rrss-icons .rrss-icon a .fas, footer .rrss-icons .rrss-icon a .fab, footer .rrss-icons .rrss-icon a .fa {
  font-size: 2.5rem;
  line-height: 4rem;
  color: #005b81;
}

@media only screen and (min-width: 481px) {
  /* line 59, SCSS/_footer.scss */
  footer .rrss-icons .rrss-icon:first-child, footer .rrss-icons .rrss-icon:last-child {
    display: none;
  }
}

/* line 67, SCSS/_footer.scss */
footer .kallpa-radio-tv {
  width: 8rem;
  margin: 2rem auto 0 auto;
}

@media only screen and (min-width: 769px) {
  /* line 67, SCSS/_footer.scss */
  footer .kallpa-radio-tv {
    margin: 0;
  }
}

/* line 76, SCSS/_footer.scss */
footer p, footer a {
  font-size: 1.5rem !important;
  color: #d8e8ef;
  line-height: 2.4rem;
}

/* line 81, SCSS/_footer.scss */
footer p:not(:last-child), footer a:not(:last-child) {
  margin-bottom: 1rem !important;
}

/* line 86, SCSS/_footer.scss */
footer p {
  text-align: center;
}

@media only screen and (min-width: 769px) {
  /* line 86, SCSS/_footer.scss */
  footer p {
    text-align: left;
  }
}

/* line 93, SCSS/_footer.scss */
footer p .linea-texto {
  display: block;
}

@media only screen and (min-width: 769px) {
  /* line 93, SCSS/_footer.scss */
  footer p .linea-texto {
    display: inline;
  }
}

/* line 101, SCSS/_footer.scss */
footer p .barra {
  display: none;
}

@media only screen and (min-width: 769px) {
  /* line 101, SCSS/_footer.scss */
  footer p .barra {
    display: inline;
    margin: 0 6px;
  }
}

/* line 111, SCSS/_footer.scss */
footer .firma {
  margin-top: 2rem;
  padding-top: 2rem;
  border-top: 1px solid rgba(216, 232, 239, 0.2);
}

@media only screen and (min-width: 769px) {
  /* line 111, SCSS/_footer.scss */
  footer .firma {
    width: 100%;
  }
}

/* line 120, SCSS/_footer.scss */
footer .firma p, footer .firma a {
  font-size: 1.4rem !important;
  text-align: center;
}

/* line 125, SCSS/_footer.scss */
footer .firma a:hover {
  color: #40d1fa;
}

/*==============  Fin de Main  ===============*/
