{
  "name": "kcs.pe",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [],
  "fileTree": {
    "expandedDirs": [],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [],
  "projectView": {
    "selectedView": "ftp"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7880,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "/public_html/nueva/",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "keepAlive": true,
      "host": "kallpacorredoresdeseguros.pe",
      "port": 21,
      "user": "kallpac2",
      "password": "8hI3e2oPk7"
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": [
      {
        "file": "css/styles.css",
        "ctime": "2018-10-24T15:25:05.000Z",
        "mtime": "2018-10-24T15:25:05.000Z",
        "size": 23708
      },
      {
        "file": "js/scripts.js",
        "ctime": "2018-10-24T14:24:55.000Z",
        "mtime": "2018-10-24T14:24:55.000Z",
        "size": 1370
      },
      {
        "file": "img/home-hero.png",
        "ctime": "2018-10-17T23:11:52.000Z",
        "mtime": "2018-10-17T23:11:52.000Z",
        "size": 87608
      },
      {
        "file": "img/kallpa-old-logo.png",
        "ctime": "2018-10-18T00:17:47.000Z",
        "mtime": "2018-10-18T00:17:47.000Z",
        "size": 203996
      },
      {
        "file": "img/kcs-logo.png",
        "ctime": "2018-10-18T00:15:53.000Z",
        "mtime": "2018-10-18T00:15:53.000Z",
        "size": 76004
      },
      {
        "file": "css/fonts.css",
        "ctime": "2018-10-18T02:45:30.000Z",
        "mtime": "2018-10-18T02:45:30.000Z",
        "size": 439
      },
      {
        "file": "css/normalize.css",
        "ctime": "2018-10-18T02:09:34.000Z",
        "mtime": "2018-08-15T19:07:39.000Z",
        "size": 7718
      },
      {
        "file": "fonts/QuattrocentoSans-Bold.ttf",
        "ctime": "2018-10-18T02:08:34.000Z",
        "mtime": "2012-02-15T05:00:00.000Z",
        "size": 100560
      },
      {
        "file": "fonts/QuattrocentoSans-BoldItalic.ttf",
        "ctime": "2018-10-18T02:08:34.000Z",
        "mtime": "2012-02-15T05:00:00.000Z",
        "size": 100748
      },
      {
        "file": "fonts/QuattrocentoSans-Italic.ttf",
        "ctime": "2018-10-18T02:08:34.000Z",
        "mtime": "2012-02-15T05:00:00.000Z",
        "size": 108700
      },
      {
        "file": "fonts/QuattrocentoSans-Regular.ttf",
        "ctime": "2018-10-18T02:08:34.000Z",
        "mtime": "2012-02-15T05:00:00.000Z",
        "size": 98340
      },
      {
        "file": "img/selected.png",
        "ctime": "2018-10-18T22:47:11.000Z",
        "mtime": "2018-10-18T22:47:11.000Z",
        "size": 181
      },
      {
        "file": "img/beneficios.png",
        "ctime": "2018-10-19T00:37:27.000Z",
        "mtime": "2018-10-19T00:37:26.000Z",
        "size": 48774
      },
      {
        "file": "img/laboral.png",
        "ctime": "2018-10-23T01:05:17.000Z",
        "mtime": "2018-10-23T01:05:17.000Z",
        "size": 23873
      },
      {
        "file": "img/patrimonio.png",
        "ctime": "2018-10-19T00:35:18.000Z",
        "mtime": "2018-10-19T00:35:18.000Z",
        "size": 38072
      },
      {
        "file": "img/salud.png",
        "ctime": "2018-10-19T00:27:38.000Z",
        "mtime": "2018-10-19T00:27:38.000Z",
        "size": 25146
      },
      {
        "file": "img/vida.png",
        "ctime": "2018-10-19T00:30:43.000Z",
        "mtime": "2018-10-19T00:30:43.000Z",
        "size": 36275
      },
      {
        "file": "img/video-bienvenida.jpg",
        "ctime": "2018-10-19T16:59:11.000Z",
        "mtime": "2018-10-19T16:59:11.000Z",
        "size": 39032
      },
      {
        "file": "img/video-info.jpg",
        "ctime": "2018-10-19T17:47:37.000Z",
        "mtime": "2018-10-19T17:47:36.000Z",
        "size": 34018
      },
      {
        "file": "img/chubb.jpg",
        "ctime": "2018-10-19T18:11:53.000Z",
        "mtime": "2018-10-19T18:11:53.000Z",
        "size": 4962
      },
      {
        "file": "img/la_positiva.jpg",
        "ctime": "2018-10-19T18:02:13.000Z",
        "mtime": "2018-10-19T18:02:13.000Z",
        "size": 10126
      },
      {
        "file": "img/mapfre.jpg",
        "ctime": "2018-10-19T18:11:03.000Z",
        "mtime": "2018-10-19T18:11:03.000Z",
        "size": 12421
      },
      {
        "file": "img/pacifico.jpg",
        "ctime": "2018-10-19T18:02:38.000Z",
        "mtime": "2018-10-19T18:02:38.000Z",
        "size": 9512
      },
      {
        "file": "img/rimac.jpg",
        "ctime": "2018-10-19T18:11:30.000Z",
        "mtime": "2018-10-19T18:11:30.000Z",
        "size": 9315
      },
      {
        "file": "favicon.ico",
        "ctime": "2018-10-19T21:16:37.000Z",
        "mtime": "2018-10-19T21:16:37.000Z",
        "size": 2308
      },
      {
        "file": "index.php",
        "ctime": "2018-10-24T14:56:04.000Z",
        "mtime": "2018-10-24T14:56:04.000Z",
        "size": 1370
      },
      {
        "file": "img/contacto.png",
        "ctime": "2018-10-22T23:47:05.000Z",
        "mtime": "2018-10-22T23:47:04.000Z",
        "size": 20531
      },
      {
        "file": "inc/beneficios.view.php",
        "ctime": "2018-10-24T06:16:27.000Z",
        "mtime": "2018-10-24T06:16:27.000Z",
        "size": 4391
      },
      {
        "file": "inc/contacto.view.php",
        "ctime": "2018-10-24T15:25:36.000Z",
        "mtime": "2018-10-24T15:25:36.000Z",
        "size": 2906
      },
      {
        "file": "inc/index.view.php",
        "ctime": "2018-10-24T14:26:37.000Z",
        "mtime": "2018-10-24T14:26:37.000Z",
        "size": 4673
      },
      {
        "file": "inc/inicio.view.php",
        "ctime": "2018-10-22T23:59:39.000Z",
        "mtime": "2018-10-22T23:59:39.000Z",
        "size": 4147
      },
      {
        "file": "inc/nosotros.view.php",
        "ctime": "2018-10-24T15:12:32.000Z",
        "mtime": "2018-10-24T15:12:32.000Z",
        "size": 3600
      },
      {
        "file": "inc/patrimonio.view.php",
        "ctime": "2018-10-24T15:17:27.000Z",
        "mtime": "2018-10-24T15:17:27.000Z",
        "size": 4268
      },
      {
        "file": "inc/salud.view.php",
        "ctime": "2018-10-24T03:30:31.000Z",
        "mtime": "2018-10-24T03:30:31.000Z",
        "size": 3632
      },
      {
        "file": "inc/vida.view.php",
        "ctime": "2018-10-24T03:31:00.000Z",
        "mtime": "2018-10-24T03:31:00.000Z",
        "size": 2732
      },
      {
        "file": "php/config.php",
        "ctime": "2018-10-24T15:25:57.000Z",
        "mtime": "2018-10-24T15:25:57.000Z",
        "size": 218
      },
      {
        "file": ".htaccess",
        "ctime": "2018-10-22T04:00:50.000Z",
        "mtime": "2018-10-22T04:00:50.000Z",
        "size": 251
      },
      {
        "file": "img/nosotros.png",
        "ctime": "2018-10-22T16:53:22.000Z",
        "mtime": "2018-10-22T16:53:21.000Z",
        "size": 59247
      },
      {
        "file": "img/nosotros-art1.jpg",
        "ctime": "2018-10-22T22:45:19.000Z",
        "mtime": "2018-10-22T22:45:19.000Z",
        "size": 160683
      },
      {
        "file": "img/galeria/1.jpg",
        "ctime": "2018-10-23T04:28:54.000Z",
        "mtime": "2018-10-23T04:28:54.000Z",
        "size": 26828
      },
      {
        "file": "img/galeria/2.jpg",
        "ctime": "2018-10-23T04:29:03.000Z",
        "mtime": "2018-10-23T04:29:03.000Z",
        "size": 28466
      },
      {
        "file": "img/galeria/3.jpg",
        "ctime": "2018-10-23T04:29:10.000Z",
        "mtime": "2018-10-23T04:29:10.000Z",
        "size": 24241
      },
      {
        "file": "img/galeria/4.jpg",
        "ctime": "2018-10-23T04:29:17.000Z",
        "mtime": "2018-10-23T04:29:17.000Z",
        "size": 32227
      },
      {
        "file": "img/galeria/5.jpg",
        "ctime": "2018-10-23T04:29:23.000Z",
        "mtime": "2018-10-23T04:29:23.000Z",
        "size": 38611
      },
      {
        "file": "img/galeria/6.jpg",
        "ctime": "2018-10-23T04:29:27.000Z",
        "mtime": "2018-10-23T04:29:27.000Z",
        "size": 23331
      },
      {
        "file": "img/sctr.png",
        "ctime": "2018-10-23T20:16:06.000Z",
        "mtime": "2018-10-23T20:16:05.000Z",
        "size": 10894
      },
      {
        "file": "img/seguro-accidentes.png",
        "ctime": "2018-10-23T19:42:32.000Z",
        "mtime": "2018-10-23T19:42:32.000Z",
        "size": 13837
      },
      {
        "file": "img/seguro-oncologico.png",
        "ctime": "2018-10-23T20:12:36.000Z",
        "mtime": "2018-10-23T20:12:36.000Z",
        "size": 5752
      },
      {
        "file": "img/seguro-salud.png",
        "ctime": "2018-10-23T19:23:33.000Z",
        "mtime": "2018-10-23T19:23:33.000Z",
        "size": 11646
      },
      {
        "file": "img/futuro-20.png",
        "ctime": "2018-10-23T20:32:09.000Z",
        "mtime": "2018-10-23T20:32:09.000Z",
        "size": 15817
      },
      {
        "file": "img/seguro-academico.png",
        "ctime": "2018-10-23T20:33:57.000Z",
        "mtime": "2018-10-23T20:33:57.000Z",
        "size": 34167
      },
      {
        "file": "img/responsabilidad-civil.png",
        "ctime": "2018-10-23T21:13:03.000Z",
        "mtime": "2018-10-23T21:13:03.000Z",
        "size": 16595
      },
      {
        "file": "img/seguro-robo.png",
        "ctime": "2018-10-23T21:15:26.000Z",
        "mtime": "2018-10-23T21:15:26.000Z",
        "size": 8771
      },
      {
        "file": "img/seguro-transporte.png",
        "ctime": "2018-10-23T21:14:22.000Z",
        "mtime": "2018-10-23T21:14:21.000Z",
        "size": 10950
      },
      {
        "file": "img/seguro-vehicular.png",
        "ctime": "2018-10-23T21:11:51.000Z",
        "mtime": "2018-10-23T21:11:50.000Z",
        "size": 74393
      },
      {
        "file": "img/aseguradoras.jpg",
        "ctime": "2018-10-24T05:13:34.000Z",
        "mtime": "2018-10-24T05:13:34.000Z",
        "size": 31932
      },
      {
        "file": "img/asesores.jpg",
        "ctime": "2018-10-24T05:08:45.000Z",
        "mtime": "2018-10-24T05:08:45.000Z",
        "size": 39848
      },
      {
        "file": "img/beneficios.jpg",
        "ctime": "2018-10-24T05:47:22.000Z",
        "mtime": "2018-10-24T05:47:22.000Z",
        "size": 34223
      },
      {
        "file": "img/capital.jpg",
        "ctime": "2018-10-24T05:42:09.000Z",
        "mtime": "2018-10-24T05:42:09.000Z",
        "size": 32249
      },
      {
        "file": "img/ceviche.jpg",
        "ctime": "2018-10-24T05:48:52.000Z",
        "mtime": "2018-10-24T05:48:52.000Z",
        "size": 45213
      },
      {
        "file": "img/personal.jpg",
        "ctime": "2018-10-24T05:45:16.000Z",
        "mtime": "2018-10-24T05:45:16.000Z",
        "size": 32132
      },
      {
        "file": "img/premio.jpg",
        "ctime": "2018-10-24T05:50:10.000Z",
        "mtime": "2018-10-24T05:50:10.000Z",
        "size": 48810
      },
      {
        "file": "img/vehicular.jpg",
        "ctime": "2018-10-24T05:46:28.000Z",
        "mtime": "2018-10-24T05:46:28.000Z",
        "size": 40974
      }
    ]
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": true,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}