{
  "name": "kcs.pe",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [],
  "fileTree": {
    "expandedDirs": [],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "old/SCSS/estilos.scss",
      "imports": [
        "old/SCSS/_variables.scss",
        "old/SCSS/_mixins.scss",
        "old/SCSS/_responsive.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "ftp"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7880,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "/public_html/",
    "uploadTimeout": 20000,
    "uploadOnChange": true,
    "ftp": {
      "secure": false,
      "keepAlive": true,
      "host": "kcs.pe",
      "port": 21,
      "user": "kcspe",
      "password": "7g7Q2ks3jT"
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts",
      "CUMPLE.gif",
      "bienvenida.mp4",
      "vid/*.*",
      "*.mp4"
    ],
    "history": [
      {
        "file": "css/styles.css",
        "ctime": "2020-06-13T22:35:50.000Z",
        "mtime": "2020-06-13T22:35:50.000Z",
        "size": 33222
      },
      {
        "file": "js/scripts.js",
        "ctime": "2020-06-12T17:20:46.000Z",
        "mtime": "2020-06-12T17:20:46.000Z",
        "size": 1780
      },
      {
        "file": "img/home-hero.png",
        "ctime": "2020-06-11T22:36:55.000Z",
        "mtime": "2020-03-04T17:00:22.000Z",
        "size": 123650
      },
      {
        "file": "img/kallpa-old-logo.png",
        "ctime": "2020-06-11T22:37:01.000Z",
        "mtime": "2019-10-18T19:51:17.000Z",
        "size": 203996
      },
      {
        "file": "img/kcs-logo.png",
        "ctime": "2020-06-11T22:37:01.000Z",
        "mtime": "2019-10-18T19:51:28.000Z",
        "size": 76004
      },
      {
        "file": "css/fonts.css",
        "ctime": "2020-06-11T22:36:34.000Z",
        "mtime": "2019-10-18T19:50:02.000Z",
        "size": 439
      },
      {
        "file": "css/normalize.css",
        "ctime": "2020-06-11T22:36:34.000Z",
        "mtime": "2019-10-18T19:50:03.000Z",
        "size": 7718
      },
      {
        "file": "fonts/QuattrocentoSans-Bold.ttf",
        "ctime": "2020-06-11T22:36:41.000Z",
        "mtime": "2019-10-18T19:50:14.000Z",
        "size": 100560
      },
      {
        "file": "fonts/QuattrocentoSans-BoldItalic.ttf",
        "ctime": "2020-06-11T22:36:43.000Z",
        "mtime": "2019-10-18T19:50:19.000Z",
        "size": 100748
      },
      {
        "file": "fonts/QuattrocentoSans-Italic.ttf",
        "ctime": "2020-06-11T22:36:45.000Z",
        "mtime": "2019-10-18T19:50:23.000Z",
        "size": 108700
      },
      {
        "file": "fonts/QuattrocentoSans-Regular.ttf",
        "ctime": "2020-06-11T22:36:45.000Z",
        "mtime": "2019-10-18T19:50:29.000Z",
        "size": 98340
      },
      {
        "file": "img/selected.png",
        "ctime": "2020-06-11T22:37:18.000Z",
        "mtime": "2019-10-18T19:52:08.000Z",
        "size": 181
      },
      {
        "file": "img/beneficios.png",
        "ctime": "2020-06-11T22:36:48.000Z",
        "mtime": "2019-10-18T19:50:39.000Z",
        "size": 48774
      },
      {
        "file": "img/laboral.png",
        "ctime": "2020-06-11T22:37:07.000Z",
        "mtime": "2020-04-23T01:14:24.000Z",
        "size": 287218
      },
      {
        "file": "img/patrimonio.png",
        "ctime": "2020-06-11T22:37:10.000Z",
        "mtime": "2019-10-18T19:51:43.000Z",
        "size": 38072
      },
      {
        "file": "img/salud.png",
        "ctime": "2020-06-11T22:37:15.000Z",
        "mtime": "2019-10-18T19:51:52.000Z",
        "size": 25146
      },
      {
        "file": "img/vida.png",
        "ctime": "2020-06-11T22:37:21.000Z",
        "mtime": "2019-10-18T19:52:12.000Z",
        "size": 36275
      },
      {
        "file": "img/video-info.jpg",
        "ctime": "2020-06-11T22:37:22.000Z",
        "mtime": "2019-10-18T19:52:16.000Z",
        "size": 34018
      },
      {
        "file": "img/chubb.jpg",
        "ctime": "2020-06-11T22:36:50.000Z",
        "mtime": "2019-10-18T19:50:45.000Z",
        "size": 4962
      },
      {
        "file": "img/la_positiva.jpg",
        "ctime": "2020-06-11T22:37:02.000Z",
        "mtime": "2019-12-09T15:45:52.000Z",
        "size": 9058
      },
      {
        "file": "img/mapfre.jpg",
        "ctime": "2020-06-11T22:37:03.000Z",
        "mtime": "2019-10-18T19:51:34.000Z",
        "size": 12421
      },
      {
        "file": "img/pacifico.jpg",
        "ctime": "2020-06-11T22:37:10.000Z",
        "mtime": "2019-10-18T19:51:41.000Z",
        "size": 9512
      },
      {
        "file": "img/rimac.jpg",
        "ctime": "2020-06-11T22:37:14.000Z",
        "mtime": "2019-10-18T19:51:50.000Z",
        "size": 9315
      },
      {
        "file": "favicon.ico",
        "ctime": "2020-06-11T22:36:34.000Z",
        "mtime": "2019-10-18T19:50:06.000Z",
        "size": 2308
      },
      {
        "file": "index.php",
        "ctime": "2020-06-12T17:07:03.000Z",
        "mtime": "2020-06-12T17:07:03.000Z",
        "size": 1533
      },
      {
        "file": "img/contacto.png",
        "ctime": "2020-06-11T22:36:51.000Z",
        "mtime": "2019-10-18T19:50:46.000Z",
        "size": 20531
      },
      {
        "file": "inc/beneficios.view.php",
        "ctime": "2020-06-11T22:37:25.000Z",
        "mtime": "2019-10-18T19:52:32.000Z",
        "size": 4399
      },
      {
        "file": "inc/contacto.view.php",
        "ctime": "2020-06-11T22:37:25.000Z",
        "mtime": "2019-12-09T15:46:02.000Z",
        "size": 5865
      },
      {
        "file": "inc/index.view.php",
        "ctime": "2020-06-11T22:37:26.000Z",
        "mtime": "2019-12-09T15:46:03.000Z",
        "size": 5273
      },
      {
        "file": "inc/inicio.view.php",
        "ctime": "2020-06-13T22:23:43.000Z",
        "mtime": "2020-06-13T22:23:43.000Z",
        "size": 5216
      },
      {
        "file": "inc/nosotros.view.php",
        "ctime": "2020-06-13T23:36:10.000Z",
        "mtime": "2020-06-13T23:36:10.000Z",
        "size": 7364
      },
      {
        "file": "inc/patrimonio.view.php",
        "ctime": "2020-06-11T22:37:27.000Z",
        "mtime": "2019-10-18T19:52:37.000Z",
        "size": 4279
      },
      {
        "file": "inc/salud.view.php",
        "ctime": "2020-06-11T22:37:28.000Z",
        "mtime": "2019-12-09T15:46:06.000Z",
        "size": 3896
      },
      {
        "file": "inc/vida.view.php",
        "ctime": "2020-06-11T22:37:28.000Z",
        "mtime": "2019-10-18T19:52:39.000Z",
        "size": 2732
      },
      {
        "file": "php/config.php",
        "ctime": "2020-06-11T22:37:30.000Z",
        "mtime": "2019-10-18T19:52:43.000Z",
        "size": 195
      },
      {
        "file": ".htaccess",
        "ctime": "2020-06-02T00:52:20.000Z",
        "mtime": "2019-09-04T17:16:14.000Z",
        "size": 247
      },
      {
        "file": "img/nosotros.png",
        "ctime": "2020-06-11T22:37:09.000Z",
        "mtime": "2020-01-31T16:47:57.000Z",
        "size": 59247
      },
      {
        "file": "img/nosotros-art1.jpg",
        "ctime": "2020-06-11T22:37:09.000Z",
        "mtime": "2019-10-18T19:51:38.000Z",
        "size": 160683
      },
      {
        "file": "img/galeria/1.jpg",
        "ctime": "2020-06-11T22:46:06.000Z",
        "mtime": "2019-10-18T19:52:18.000Z",
        "size": 26828
      },
      {
        "file": "img/galeria/2.jpg",
        "ctime": "2020-06-11T22:46:07.000Z",
        "mtime": "2019-10-18T19:52:20.000Z",
        "size": 28466
      },
      {
        "file": "img/galeria/3.jpg",
        "ctime": "2020-06-11T22:46:08.000Z",
        "mtime": "2019-10-18T19:52:22.000Z",
        "size": 24241
      },
      {
        "file": "img/galeria/4.jpg",
        "ctime": "2020-06-11T22:46:09.000Z",
        "mtime": "2019-10-18T19:52:24.000Z",
        "size": 32227
      },
      {
        "file": "img/galeria/5.jpg",
        "ctime": "2020-06-11T22:46:10.000Z",
        "mtime": "2019-10-18T19:52:26.000Z",
        "size": 38611
      },
      {
        "file": "img/galeria/6.jpg",
        "ctime": "2020-06-11T22:46:11.000Z",
        "mtime": "2019-10-18T19:52:28.000Z",
        "size": 23331
      },
      {
        "file": "img/sctr.png",
        "ctime": "2020-06-11T22:37:15.000Z",
        "mtime": "2019-10-18T19:51:53.000Z",
        "size": 10894
      },
      {
        "file": "img/seguro-accidentes.png",
        "ctime": "2020-06-11T22:37:16.000Z",
        "mtime": "2019-10-18T19:51:56.000Z",
        "size": 13837
      },
      {
        "file": "img/seguro-oncologico.png",
        "ctime": "2020-06-11T22:37:17.000Z",
        "mtime": "2019-10-18T19:51:58.000Z",
        "size": 5752
      },
      {
        "file": "img/seguro-salud.png",
        "ctime": "2020-06-11T22:37:17.000Z",
        "mtime": "2019-10-18T19:52:01.000Z",
        "size": 11646
      },
      {
        "file": "img/futuro-20.png",
        "ctime": "2020-06-11T22:36:52.000Z",
        "mtime": "2019-10-18T19:50:48.000Z",
        "size": 15817
      },
      {
        "file": "img/seguro-academico.png",
        "ctime": "2020-06-11T22:37:16.000Z",
        "mtime": "2019-10-18T19:51:55.000Z",
        "size": 34167
      },
      {
        "file": "img/responsabilidad-civil.png",
        "ctime": "2020-06-11T22:37:14.000Z",
        "mtime": "2019-10-18T19:51:49.000Z",
        "size": 16595
      },
      {
        "file": "img/seguro-robo.png",
        "ctime": "2020-06-11T22:37:17.000Z",
        "mtime": "2019-10-18T19:52:00.000Z",
        "size": 8771
      },
      {
        "file": "img/seguro-transporte.png",
        "ctime": "2020-06-11T22:37:17.000Z",
        "mtime": "2019-10-18T19:52:04.000Z",
        "size": 10950
      },
      {
        "file": "img/seguro-vehicular.png",
        "ctime": "2020-06-11T22:37:18.000Z",
        "mtime": "2019-10-18T19:52:07.000Z",
        "size": 74393
      },
      {
        "file": "img/aseguradoras.jpg",
        "ctime": "2020-06-11T22:36:46.000Z",
        "mtime": "2019-10-18T19:50:33.000Z",
        "size": 31932
      },
      {
        "file": "img/asesores.jpg",
        "ctime": "2020-06-11T22:36:47.000Z",
        "mtime": "2019-10-18T19:50:35.000Z",
        "size": 39848
      },
      {
        "file": "img/beneficios.jpg",
        "ctime": "2020-06-11T22:36:47.000Z",
        "mtime": "2019-10-18T19:50:37.000Z",
        "size": 34223
      },
      {
        "file": "img/capital.jpg",
        "ctime": "2020-06-11T22:36:49.000Z",
        "mtime": "2019-10-18T19:50:42.000Z",
        "size": 32249
      },
      {
        "file": "img/ceviche.jpg",
        "ctime": "2020-06-11T22:36:50.000Z",
        "mtime": "2019-10-18T19:50:44.000Z",
        "size": 45213
      },
      {
        "file": "img/personal.jpg",
        "ctime": "2020-06-11T22:37:11.000Z",
        "mtime": "2019-10-18T19:51:45.000Z",
        "size": 32132
      },
      {
        "file": "img/premio.jpg",
        "ctime": "2020-06-11T22:37:14.000Z",
        "mtime": "2019-10-18T19:51:47.000Z",
        "size": 48810
      },
      {
        "file": "img/vehicular.jpg",
        "ctime": "2020-06-11T22:37:20.000Z",
        "mtime": "2019-10-18T19:52:11.000Z",
        "size": 40974
      },
      {
        "file": "happybirthday.html",
        "ctime": "2020-06-11T22:36:36.000Z",
        "mtime": "2019-10-18T19:50:31.000Z",
        "size": 1113
      },
      {
        "file": "img/kallparadiotv-logo.png",
        "ctime": "2020-06-11T22:36:58.000Z",
        "mtime": "2019-10-18T19:51:20.000Z",
        "size": 27571
      },
      {
        "file": "inc/_modal.php",
        "ctime": "2020-06-12T22:48:21.000Z",
        "mtime": "2020-06-12T22:48:21.000Z",
        "size": 384
      },
      {
        "file": "robots.txt",
        "ctime": "2020-06-11T22:36:36.000Z",
        "mtime": "2019-10-18T19:52:44.000Z",
        "size": 63
      },
      {
        "file": "sitemap.xml",
        "ctime": "2020-06-11T22:36:37.000Z",
        "mtime": "2019-10-18T19:52:45.000Z",
        "size": 1564
      },
      {
        "file": "google43ea7a548306f3d8.html",
        "ctime": "2020-06-11T22:36:35.000Z",
        "mtime": "2019-12-09T15:45:49.000Z",
        "size": 53
      },
      {
        "file": "img/galeria/js.php",
        "ctime": "2020-06-11T22:46:31.000Z",
        "mtime": "2019-12-09T15:46:00.000Z",
        "size": 70274
      },
      {
        "file": "img/marina-poster.png",
        "ctime": "2020-06-11T22:37:04.000Z",
        "mtime": "2019-12-09T15:45:54.000Z",
        "size": 46940
      },
      {
        "file": "img/pnp-poster.png",
        "ctime": "2020-06-11T22:37:12.000Z",
        "mtime": "2019-12-09T15:45:56.000Z",
        "size": 42065
      },
      {
        "file": "img/img-modal.png",
        "ctime": "2020-06-11T22:36:56.000Z",
        "mtime": "2020-03-25T22:26:02.000Z",
        "size": 220017
      },
      {
        "file": "img/new-year-poster.jpg",
        "ctime": "2020-06-11T22:37:06.000Z",
        "mtime": "2020-01-01T00:43:03.000Z",
        "size": 90618
      },
      {
        "file": "img/video-bienvenida.jpg",
        "ctime": "2020-06-11T22:37:21.000Z",
        "mtime": "2020-01-24T18:47:49.000Z",
        "size": 16684
      },
      {
        "file": "img/video-informativo-poster.jpg",
        "ctime": "2020-06-11T22:37:25.000Z",
        "mtime": "2020-02-19T17:07:57.000Z",
        "size": 69206
      },
      {
        "file": "emailing/email-landing2.html",
        "ctime": "2020-06-11T22:36:37.000Z",
        "mtime": "2019-10-18T19:58:37.000Z",
        "size": 2527
      },
      {
        "file": "emailing/email-landing1.html",
        "ctime": "2020-06-11T22:36:37.000Z",
        "mtime": "2019-10-18T19:58:37.000Z",
        "size": 2543
      },
      {
        "file": "emailing/email-landing3.html",
        "ctime": "2020-06-11T22:36:38.000Z",
        "mtime": "2019-10-18T19:58:37.000Z",
        "size": 2529
      },
      {
        "file": "emailing/emailing1.html",
        "ctime": "2020-06-11T22:36:39.000Z",
        "mtime": "2019-10-18T19:58:38.000Z",
        "size": 3524
      },
      {
        "file": "emailing/emailing2.html",
        "ctime": "2020-06-11T22:36:38.000Z",
        "mtime": "2019-10-18T19:58:38.000Z",
        "size": 3502
      },
      {
        "file": "emailing/emailing3.html",
        "ctime": "2020-06-11T22:36:40.000Z",
        "mtime": "2019-10-18T19:58:39.000Z",
        "size": 3503
      },
      {
        "file": "emailing/css/styles.css",
        "ctime": "2020-06-11T22:41:40.000Z",
        "mtime": "2019-10-18T19:58:39.000Z",
        "size": 947
      },
      {
        "file": "emailing/img/bagua-poster.jpg",
        "ctime": "2020-06-11T22:41:42.000Z",
        "mtime": "2019-10-18T19:58:41.000Z",
        "size": 43083
      },
      {
        "file": "emailing/img/canete-poster.jpg",
        "ctime": "2020-06-11T22:41:43.000Z",
        "mtime": "2019-10-18T19:58:43.000Z",
        "size": 39974
      },
      {
        "file": "emailing/img/video-poster.png",
        "ctime": "2020-06-11T22:41:45.000Z",
        "mtime": "2019-10-18T19:58:45.000Z",
        "size": 50932
      },
      {
        "file": "emailing/js/script.js",
        "ctime": "2020-06-11T22:41:45.000Z",
        "mtime": "2019-10-18T19:58:45.000Z",
        "size": 89
      },
      {
        "file": "img/yomequedoencas.png",
        "ctime": "2020-06-11T22:37:23.000Z",
        "mtime": "2020-04-23T00:56:20.000Z",
        "size": 23256
      },
      {
        "file": "img/galeria/7.jpg",
        "ctime": "2020-06-11T22:46:26.000Z",
        "mtime": "2020-01-31T16:48:00.000Z",
        "size": 297745
      },
      {
        "file": "img/galeria/8.jpg",
        "ctime": "2020-06-11T22:46:28.000Z",
        "mtime": "2020-01-31T17:25:56.000Z",
        "size": 139465
      },
      {
        "file": "img/galeria/9.jpg",
        "ctime": "2020-06-11T22:46:30.000Z",
        "mtime": "2020-03-09T16:57:12.000Z",
        "size": 258830
      },
      {
        "file": "img/puntual.png",
        "ctime": "2020-06-11T23:46:44.000Z",
        "mtime": "2020-06-11T23:46:44.000Z",
        "size": 2307
      },
      {
        "file": "img/gracias.png",
        "ctime": "2020-06-12T00:09:36.000Z",
        "mtime": "2020-06-12T00:09:35.000Z",
        "size": 1337
      },
      {
        "file": "img/porfavor.png",
        "ctime": "2020-06-12T00:11:10.000Z",
        "mtime": "2020-06-12T00:11:10.000Z",
        "size": 2282
      },
      {
        "file": "img/esfuerzo.png",
        "ctime": "2020-06-12T00:13:14.000Z",
        "mtime": "2020-06-12T00:13:14.000Z",
        "size": 2269
      },
      {
        "file": "img/dejar.png",
        "ctime": "2020-06-12T00:17:17.000Z",
        "mtime": "2020-06-12T00:17:17.000Z",
        "size": 2616
      },
      {
        "file": "img/actitud.png",
        "ctime": "2020-06-12T00:21:49.000Z",
        "mtime": "2020-06-12T00:21:48.000Z",
        "size": 2515
      },
      {
        "file": "img/ayudar.png",
        "ctime": "2020-06-12T00:24:50.000Z",
        "mtime": "2020-06-12T00:24:49.000Z",
        "size": 2850
      },
      {
        "file": "img/apasionado.png",
        "ctime": "2020-06-12T00:29:40.000Z",
        "mtime": "2020-06-12T00:29:39.000Z",
        "size": 2362
      },
      {
        "file": "img/errores.png",
        "ctime": "2020-06-12T00:31:21.000Z",
        "mtime": "2020-06-12T00:31:21.000Z",
        "size": 1553
      },
      {
        "file": "img/sonreir.png",
        "ctime": "2020-06-12T00:32:35.000Z",
        "mtime": "2020-06-12T00:32:35.000Z",
        "size": 3382
      },
      {
        "file": "img/video-modal.png",
        "ctime": "2020-06-12T17:02:20.000Z",
        "mtime": "2020-06-12T17:02:20.000Z",
        "size": 9774
      },
      {
        "file": "img/evento-mensual.png",
        "ctime": "2020-06-13T00:36:08.000Z",
        "mtime": "2020-06-13T00:36:08.000Z",
        "size": 145869
      },
      {
        "file": "img/dante.png",
        "ctime": "2020-06-13T01:13:49.000Z",
        "mtime": "2020-06-13T01:13:49.000Z",
        "size": 8217
      },
      {
        "file": "img/yashin.png",
        "ctime": "2020-06-13T01:14:04.000Z",
        "mtime": "2020-06-13T01:14:04.000Z",
        "size": 7419
      },
      {
        "file": "img/video-informativo-poster3.png",
        "ctime": "2020-06-13T04:52:21.000Z",
        "mtime": "2020-06-13T04:52:21.000Z",
        "size": 117785
      },
      {
        "file": "img/video-informativo-poster2.png",
        "ctime": "2020-06-13T04:54:23.000Z",
        "mtime": "2020-06-13T04:54:23.000Z",
        "size": 125363
      }
    ]
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": true,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}